[2016-01-27 05:28] praveenkumar opened #1 "Increase startup time of OpenShift service"
_From @hferentschik on January 25, 2016 13:52_

ATM all the configuration of OpenShift occurs on the first startup of the service. This could be improved by doing everything upfront so that the VM and OpenShift is fully prepared.

Also instead of generating the Openshift config on the fly one might as well check it in and save some of the service "provisioning".

_Copied from original issue: proje

[2016-01-27 05:28] praveenkumar commented on #1
_From @hferentschik on January 25, 2016 13:53_

Please add label focus:devex

[2016-01-27 05:29] praveenkumar opened #2 "Increase startup time of OpenShift service"
_From @hferentschik on January 25, 2016 13:52_

ATM all the configuration of OpenShift occurs on the first startup of the service. This could be improved by doing everything upfront so that the VM and OpenShift is fully prepared.

Also instead of generating the Openshift config on the fly one might as well check it in and save some of the service "provisioning".

_Copied from original issue: proje

[2016-01-27 05:29] praveenkumar commented on #2
_From @hferentschik on January 25, 2016 13:53_

Please add label focus:devex

[2016-01-27 05:29] praveenkumar commented on #2
This issue was moved to projectatomic/adb-utils#1

[2016-01-27 05:30] #2 closed, assigned to nobody

[2016-01-27 05:31] praveenkumar commented on #2
It was duplicate of #1

[2016-01-27 05:32] praveenkumar opened #3 "The OpenShift service creates an OpenShift instance with no authentication"
_From @hferentschik on January 25, 2016 13:48_

I think is it not good practice to use an unauthenticated OpenShift. This is of course open for discussion, but I think one should at least use basic authentication.

One needs to also discuss whether an admin user should be pre-created.

_Copied from original issue: projectatomic/adb-atomic-developer-bundle#215_

[2016-01-27 05:32] praveenkumar commented on #3
_From @hferentschik on January 25, 2016 13:48_

Please add focus:devex

[2016-01-27 05:38] praveenkumar opened #4 "Provisioning script does "too much" for a general purpose OpenShift setup"
_From @hferentschik on January 25, 2016 13:46_

`/opt/adb/openshift_provision` does some basic provisioning for OpenShift. It sets up the OpenShift registry as well as the router. However, it also does change the default permissions of OPenShift to allow to run any image. I think this goes too far. This should most likely be user driven.

The same applies for the imported templates and the created

[2016-01-27 05:38] praveenkumar commented on #4
_From @hferentschik on January 25, 2016 13:55_

Please add label focus:devex

[2016-01-27 05:43] praveenkumar opened #5 "There is no service reload for OpenShift service"
_From @hferentschik on January 25, 2016 13:37_

`$sudo systemctl reload openshift`
Failed to reload openshift.service: Job type reload is not applicable for unit openshift.service.

_Copied from original issue: projectatomic/adb-atomic-developer-bundle#213_

[2016-01-27 05:43] praveenkumar commented on #5
_From @hferentschik on January 25, 2016 13:38_

Please add label focus:devex

[2016-01-27 05:43] praveenkumar commented on #5
_From @hferentschik on January 25, 2016 13:55_

TBH, not sure whether it is really needed. Needs discussing.

[2016-01-27 05:44] praveenkumar opened #6 "OpenShift service script is not stoppable"
_From @hferentschik on January 25, 2016 13:36_

Running `sudo systemctl stop openshift` does not stop the service. The OpenShift container stays running and the OpenShift services are still accessible.

I did the following:
- `vagrant up --no-provision` to bring up a new instance of the VM
- `vagrant ssh`
- `sudo systemctl status openshift`

[code]
- `sudo systemctl enable openshift`
- `sudo syste

[2016-01-27 05:44] praveenkumar commented on #6
_From @hferentschik on January 25, 2016 13:36_

Please add label focus:devex

[2016-01-27 05:44] praveenkumar opened #7 "OpenShift service log entries are to verbose"
_From @hferentschik on January 25, 2016 13:18_

Running `sudo journalctl --unit=openshift`, there is heaps of output for the OpenShift service.

[code]

Looks like `xtrace` is enabled. It is really hard to find useful information this way. The log should be less verbose.

_Copied from original issue: projectatomic/adb-atomic-developer-bundle#211_

[2016-01-27 05:44] praveenkumar commented on #7
_From @hferentschik on January 25, 2016 13:18_

Please add label focus:devex

[2016-02-01 06:56] praveenkumar commented on #4
@hferentschik you mean that it change admin.kubeconfig permission here?

As per our discussion we will have atleast a test-user and one sample template may be `hello openshift` and other things can be user-case specific.

[2016-02-01 09:02] hferentschik commented on #4
No, I was actually thinking of letting the user do it in the `Vagrantfile` during provisioning.

I think this test-user and sample template should also be in the `Vagrantfile`. AFAIU, you guys ship with a `Vagrantfile` as well, which users than should use as a starting point for their work. I'll add it there.

There are several reasons why I would create this separation:
- Create transparency. The

[2016-02-01 12:13] LalatenduMohanty commented on #6
@praveenkumar is this fixed in the code?

[2016-02-01 12:16] LalatenduMohanty commented on #5
We should provide `systemctl reload openshift` as we are providing the systemd service files. However this is not a priority unless @hferentschik has a specific usecase.

[2016-02-01 12:37] praveenkumar commented on #4
It should be general purpose instance and then user can use it according to their requirements. Now whatever reasons you pointed out make sense but those we have to include it in documents somewhere.

[2016-02-01 13:12] hferentschik commented on #6
i don't think so

[2016-02-01 13:14] hferentschik commented on #5
No specific usecase. Just trying to arrive at a Systemd service which works as expected. But it seems that 'reload' is not really required indeed. Nice to have maybe.

[2016-02-01 13:45] praveenkumar commented on #6
@hferentschik Yes it is now (but yet not part of CDK box)
https://github.com/projectatomic/adb-utils/blob/master/services/openshift/openshift.service#L18

I am not sure if this is elegant solution to stop openshift but right now it works.
https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift_stop

[2016-02-01 14:53] hferentschik commented on #6
Cool

And can you start again then? You don't seem to remove the names container. Does this not lead to a problem when trying to start again?

[2016-02-01 22:20] hferentschik commented on #3
Simplest would be to use HTPasswd backed authentication - https://docs.openshift.com/enterprise/3.0/admin_guide/configuring_authentication.html#HTPasswdPasswordIdentityProvider

[2016-02-01 22:23] hferentschik commented on #3
We need to get _htpasswd_ installed on the box though.

[2016-02-01 22:26] hferentschik commented on #4
Regarding the templates. No matter what and how templates are added, we cannot refer to templates pointing using URLs to master in some repository. Either we only used tagged versions or alternatively the CDK compiles its own template.

[2016-02-02 06:02] praveenkumar opened #10 "Openshift should provide a way to stop container gracefully"
Currently when we are trying to implement openshift_stop scripts then it always send  `systemctl status openshift` in failed state because openshift process not gracefully exit.

As per article https://www.ctl.io/developers/blog/post/gracefully-stopping-docker-containers/ when running our own application in a container, we must decide how the different signals will be interpreted by our app.

[cod

[2016-02-02 06:28] LalatenduMohanty opened #11 "Add script for single node k8s setup"
The script should be able to stop OpenShift if required and setup k8s

[2016-02-02 06:32] LalatenduMohanty opened #12 "Add a code which can act as an interface to K8s script or OpenShift service"
Having a single interface to handle setup Kubernetes, OpenShift etc helps to improve the user experience. The interface can be called from Vagrantfile or inside the Vagrantbox

[2016-02-02 06:37] LalatenduMohanty opened #13 "OpenShift templates should be packaged and available from stock Vagrantbox"
This help to address the issue where an application developer should be able setup OpenShift in CDK/ADB and run one template without connecting to internet.

[2016-02-02 07:03] praveenkumar commented on #6
No it doesn't cause any issue to start those again but I will include cleaning steps also when we stop.

[2016-02-02 09:29] LalatenduMohanty commented on #13
As discussed with @praveenkumar we can use https://github.com/openshift/nodejs-ex for the purpose

[2016-02-02 10:04] LalatenduMohanty commented on #10
@praveenkumar this looks like a bug from OpenShift container images. If so we should file bugs for OSE

[2016-02-02 11:51] hferentschik commented on #6
I guess it works due to these:

[code]

It seems odd to me though that a pre-step of starting it should be to stop it. This should go into the stop script.

[2016-02-02 12:13] hferentschik opened #14 "openshift_option uses a hard coded IP"
ATM, the default host is hard-coded:

OPTIONS="-r adb.vm -host 10.1.2.2"

This ties the VM to a specific IP. This should really be a determined IP. Or maybe we can get it to work w/o!?

[2016-02-02 12:26] hferentschik opened #15 "openshift_option uses bad choice of variable names"
[code]

`PUBLIC_ADDRESS` is really an IP, but the parameter is `-host`. And on the other hand `PUBLIC_HOST` is past to a a `-r` option. Seems confusing.

Something like this would probably be better:

[code]

[2016-02-02 13:07] praveenkumar commented on #14
Yes, I was going to file this issue, determining VM ip is bit tricky but can be done like adbinfo plugin is doing, I have to try it out. `w/o` you mean loopback device?

[2016-02-02 15:33] hferentschik commented on #14
No, not loopback device, but just hostname without IP.

[2016-02-02 15:45] rctrh opened #16 "Bug: openshift consuming cpu and logging continuously while idle. (cdkv2b4)"
testing the CDK v2 Beta 4 build on Windows with the rhel-ose Vagrantfile. openshift is consuming lots of CPU and logging continuously while idle.

No actual oc commands have been run.  I just started up the vagrant box and waited for it to quiesce.  I let it run for an extended period of time to make sure it wasn't just startup activity.

The docker daemon is running but has very low cpu usage < 5

[2016-02-02 15:46] praveenkumar commented on #14
Ah, I have to test it out if that works. I will update after testing it.

[2016-02-02 19:11] hferentschik commented on #14
This assumes that DNS works, but either solution Landrush or xip.io should work. Not sure whether this would have any other drawback. Also need to verify all usages of the IP and see whether we get away without it. Would be kind of nice anyways to address the instance via cdk.dev:8443 instead of the more cryptic 10.1.2.2:8443.

[2016-02-02 19:15] hferentschik opened #17 "Exposing OpenShift registry via a route also requires adjusting of the Docker daemon options"
To expose the OpenShift registry the current provisioning is doting something like

[code]

This won't really help much without also editing the Docker daemon options and adding `registry_host_name` to the list of insecure registries. See also https://github.com/redhat-developer-tooling/openshift-vagrant/blob/master/cdk-v2/scripts/configure_docker.sh#L39

[2016-02-02 19:22] hferentschik opened #18 "Push some of the provisioning details into the successor of adbinfo"
Currently if one wants to custom configure Docker or OpenShift one needs to either write ones one 'options' file or make sure to add the right values via sed or similar. For example:

[code]

This is error prone and not "easy" for the user. Also in the case where the whole file is overwritten (as above) useful information like usage comments are removed.

If we assume that the adbinfo (or better i

[2016-02-03 10:30] praveenkumar commented on #18
@hferentschik This improvement we should discuss with @bexelbie and @navidshaikh but yes it make sense to do those changes using plugin.

[2016-02-08 15:15] LalatenduMohanty commented on #13
As discussed in the container-tools here are the templates we are planning to include

[2016-02-08 15:41] LalatenduMohanty commented on #4
https://github.com/projectatomic/adb-utils/issues/13 tracks the template inclusion in to ADB/CDK

[2016-02-08 15:44] #4 closed, assigned to LalatenduMohanty

[2016-02-08 15:45] #6 closed, assigned to praveenkumar

[2016-02-08 15:45] #7 closed, assigned to praveenkumar

[2016-02-08 15:46] #14 closed, assigned to praveenkumar

[2016-02-08 15:46] #15 closed, assigned to praveenkumar

[2016-02-09 08:27] praveenkumar opened #20 "Add cert generation script to utils instead having it in kickstart file"
Currently cert generation script which used by adbinfo is part of kickstart file. As per our effort we can include it in adb-utils repo and include it in rpm.

[2016-02-09 09:51] #20 closed, assigned to nobody

[2016-02-09 12:17] #12 closed, assigned to LalatenduMohanty

[2016-02-11 22:26] dustymabe opened #24 "Only restart docker if needed"
We shouldn't be restarting docker [here](https://github.com/projectatomic/adb-utils/blob/cfc3e8d14136a4bb7a9fc4b079a8d2847838df28/services/openshift/scripts/docker_config#L32) unless we really need to.

[2016-02-15 09:19] hferentschik opened #25 "Consider using '--rm' option when running the OpenShift image"
This would allow to clean out some the code which deals with removal of existed container. Stopping the container would automatically remove it.

Only drawback might be that it one cannot inspect a failing container after exit, but that's really a very advanced use case.

[2016-02-15 14:27] hferentschik opened #26 "OpenShift startup fails (on first start)"
[code]

[2016-02-15 14:34] hferentschik opened #27 "/etc/sysconfig/openshift_option should be called openshift"
To align with the other scripts in this directory.

[2016-02-15 14:41] hferentschik opened #28 "Rename /opt/adb/openshift/docker_config to /opt/adb/openshift/add_insecure_registry"

[2016-02-15 14:47] hferentschik opened #29 "/opt/adb/openshift/docker_config should allow to append multiple insecure registries"
The script should allow to be called multiple times specifying new registries to add. This way it could also be called from the `Vagrantfile` during provisioning in order to add for example hub.cdk.10.1.2.2.xip.io (the external route for the OpenShift registry).

For this to work one needs to be able to specify a host or IP. The script seems to only deal with IPs. Also it should check the `INSECUR

[2016-02-15 15:40] hferentschik opened #30 "/var/lib/openshift should be used as base directory of OpenShift"
Currently /var/lib/origin is used, even though all other scripts use just 'openshift'.

Maybe we should even put it under `/opt/adb/openshift`!?

[2016-02-15 15:43] hferentschik commented on #29
In the current setup I cannot change the `INSECURE_REGISTRY` via provisioning in the `Vagrantfile`, since the OpenShift service configuration will override changes to this variable. It really need to be a append solution, instead of replacing the whole line.

[2016-02-15 19:23] hferentschik opened #31 "Wrong hostname for exposed registry route"
In _/opt/adb/openshift/openshift_provision_ we have:

[code]

`hostname` does not seem to be set anywhere. The resulting route becomes (accidentally!?) _hub.localhost.localdomain_, but it should be something like _hub.cdk.10.1.2.2.xip.io_.

It seems nothing is passed to the provision script either (_/usr/lib/systemd/system/openshift.service_):

[code]

[2016-02-15 19:44] hferentschik opened #32 "Admin user does not have system:admin privileges"
[code]

I would have expected the admin user can do that!?

[2016-02-16 23:08] hferentschik opened #34 "Unable to change OpenShift image defined in /etc/sysconfig/openshift_option"
As part of the OpenShift service config we have;

[code]

This won't work if the image is not pulled yet. This makes the `IMAGE` option in _/etc/sysconfig/openshift_option_ useless. One needs to pull the image first and then tag (in order to allow to run against a different OpenShift version).

Also in order to allow for example to run latest Origin, it does not make sense to prefix `DOCKER_REGIST

[2016-02-17 09:10] hferentschik commented on #34
On that note, there are several `ExecStartPre` items now. Wouldn't it be better to collect them in a separate script as well?

[2016-02-17 12:20] navidshaikh opened #35 "Box IP hard coded in /etc/sysconfig/openshift_option"
Following are the contents of `/etc/sysconfig/openshift_option`

[code]

Box IP `10.1.2.2` is hard coded in this config.

External client connection to OpenShift server in the box will not work if box IP is different.

[2016-02-17 16:02] bexelbie commented on #34
@praveenkumar Can you shed some light on this?

[2016-02-17 16:32] vrutkovs commented on #26
AFAIK this is related to [status check](https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift_provision#L13): if container didn't appear in 30 secs the curl will return exit code '1' and we'll be attempting to show logs for non-existant container.

We should put curl call in a loop (instead of 'sleep 30' in service) and show logs only if container exists

[2016-02-17 18:41] hferentschik commented on #34
_/etc/sysconfig/openshift_option _ (which should by the way be _/etc/sysconfig/openshift_ to align with the other files in this directory) offers an option to define the OpenShift image to run. In theory one should be able to change this image name (eg from 3.1 to 3.2) and use a different OpenShift image.

Starting/stopping OpenShift is via starting the named container _openshift_. This naming/tag

[2016-02-17 18:48] hferentschik commented on #3
I think this once can be closed now.

[2016-02-17 18:50] hferentschik commented on #5
We can even close this one. I don't think this is needed.

[2016-02-17 18:52] hferentschik commented on #10
Currently we have something like this in _openshift_stop_:

[code]

What is the indent here? Looking very fragile to me?

[2016-02-17 18:54] hferentschik commented on #24
+1 and while on it fix the related issues #28 and #29

[2016-02-17 19:35] hferentschik commented on #26
Actually in openshift_vagrant we did something like this:

[code]

That said, one would assume that the check whether openshift is running is happening in _/opt/adb/openshift/openshift_. There should really be no need anymore for this check once _openshift_provision_ is called.

BTW, I am skeptical about the use of 127.0.0.1. The internal OpenShift IP is 10.0.2.15.

[2016-02-17 20:18] vrutkovs commented on #26
Right, did a similar thing in PR #36. 127.0.0.1 would work too - as long as its in `corsAllowedOrigins` in `master-config.yaml`

[2016-02-18 09:38] LalatenduMohanty commented on #34
In adb-utils code  I can see below  for openshift_option

[code]

In CDK

[code]

@praveenkumar Can't we make the two files same for both upstream and downstream with some extra logic ?

[2016-02-18 09:40] LalatenduMohanty commented on #34
@hferentschik +1 to the idea of script then multiple ExecStartPre . It will make it more readable and maintainable . However it does look like a blocker for 2.0 GA

[2016-02-18 09:46] LalatenduMohanty commented on #32
@hferentschik `admin` is cluster-admin in this case and we create them as below. Need to dig more to understand what is its privileges. I am sure you can suggest the fix in this case.

[code]

[2016-02-18 10:07] LalatenduMohanty commented on #31
@hferentschik  I think it is workings in a nested manner

The information goes to the openshift script i.e. `adb-utils/services/openshift` through the openshift.service file

[code]

openshift script dumps the information in `/var/lib/origin/openshift.local.config/master/` and the `openshift_provision` scripts picks it from there.

I am planning to mark this issue as not a bug

[2016-02-18 10:09] LalatenduMohanty commented on #30
yeah , we even use `/var/lib/origin` even in CDK.

[2016-02-18 10:10] LalatenduMohanty commented on #30
@hferentschik This issue does not look like for a 2.0 GA. Let me know your thoughts

[2016-02-18 10:20] LalatenduMohanty commented on #28
+1

[2016-02-18 10:21] LalatenduMohanty commented on #27
@hferentschik we have a script named openshift in the scripts directory. We should differ this bug to post 2.0 GA. Let me know your suggestion.

[2016-02-18 10:28] hferentschik commented on #32
Same here. I usually ssh into the box and use `oc --config=/var/lib/origin/openshift.local.config/master/admin.kubeconfig <command>`. I would have expected that the policy command would work, but it does not. So I guess we need to indeed dig a bit deeper.

[2016-02-18 10:32] hferentschik commented on #34
Did you want to add a _not_ somewhere?

The way I see it, using a different image via the options file (as intended by it) is not working and needs work. Personally I would in this case put things into a script. That might technically not be necessary, but seems to me the easiest option.

Personally this is a blocker for me or at least a major bug.

[2016-02-18 10:33] hferentschik commented on #34
Not also, if the CDK ships with OSE 3.1 we would have a easy way for people here to upgrade to 3.2 once it is out. Provided it works.

[2016-02-18 11:12] hferentschik commented on #31
the result on my VM after provisioning was still wrong so. When looking at the route I had something like `huv.localhost.localdomain` (or something along these lines). It should be hub.cdk.10.1.1.2.xip.io. So if the problem is not there, it must be somewhere else.

So this is actually a blocker, since we cannot expose the internal registry atm anymore.

[2016-02-18 11:13] hferentschik commented on #30
Sure why not. It is such a simple change. But yes, it is not a blocker.

[2016-02-18 11:19] hferentschik commented on #27
but nothing in _/etc/sysconfig/_, no?

[2016-02-18 11:37] LalatenduMohanty commented on #24
@dustymabe @hferentschik you mean the docker restart we are doing [here](https://github.com/projectatomic/adb-utils/blob/cfc3e8d14136a4bb7a9fc4b079a8d2847838df28/services/openshift/scripts/docker_config#L32) is not necessary? I thought otherwise

[2016-02-18 11:46] LalatenduMohanty commented on #32
@hferentschik as discussed , with the admin we should be able to run pretty much all oc commands and access to all namespaces

[2016-02-18 11:56] LalatenduMohanty commented on #24
Got it. We should put a condition to check if /etc/sysconfig/docker has changed then restart the docker service. As OpenShift service start will call the script every time.

[code]

[2016-02-21 14:24] bexelbie opened #40 "Origin Version hardcode"
Following are the contents of `/etc/sysconfig/openshift_option`

[code]

IMAGE should not be hardcoded

[2016-02-22 04:38] praveenkumar commented on #40
@bexelbie It help us to use specific version of `origin` image instead of `latest`. It also helps us to track which version of origin shipped to specific ADB release.

What you suggest? (Should be part of vagrant file?)

[2016-02-22 04:43] praveenkumar commented on #35
@navidshaikh Currently this IP is only a place-holder not used in the scripts. The way we are using it in the script is getting IP of the box (https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift#L13) and in case it fail then this hard-coded IP get used but again this we have to remove from `config-file`.

[2016-02-22 05:45] praveenkumar commented on #34
@hferentschik @LalatenduMohanty
**CDK prospective:-**
Whole idea about caching specific tags of OSE docker images to make sure once user have CDK box it should not get any different tag images and with one release we will ship whatever public facing tag available for OSE. If OSE 3.2 is out in future then we should build our CDK box which updated cache images and update to access.redhat.com. We als

[2016-02-22 05:54] praveenkumar commented on #30
This directory we are using as service scripts base. I prefer `/var/lib/openshift` and as you said it easy fix.

[2016-02-22 07:10] navidshaikh commented on #35
@praveenkumar

This is error prone though, IMO if script can't find IP, script should fail with respective error.

[2016-02-22 07:15] praveenkumar commented on #35
Yes it is, will do needful for this bug.

[2016-02-22 08:41] hferentschik commented on #34
Sure, but I think it would be nice if one could change the used image. This does not need to be supported. However, advanced users can use it to for example use the latest OSE or Origin image. This is what the tag field does in the openshift-vagrant setup. I do the latter a lot, since I need features which I cannot get in the old version of OSE.

Right, but this binds you to releases which might o

[2016-02-22 08:43] hferentschik commented on #30
Either way. As long as we get away from _origin_ and use something more universally valid like _openshift_.  _var/lib/openshift_ works for me_

[2016-02-22 11:14] praveenkumar commented on #34
For current release schedule I don't want to include some other steps/scripts (I will remove IMAGE option from options just to avoid any confusion). To handle this issue I will work on a separate branch and push changes there if everything look good then will merge it to master, hope that will make everyone happy :)

I will keep this bug open till we have required features but remove milestone fro

[2016-02-23 05:07] LalatenduMohanty commented on #40
@praveenkumar I think your intention was to keep the OpenShift version stable through ADB. I think thats a good choice because OpenShift origin pushes images through nightly builds and there is high chance that it might break the setup.

However we need to provide a simple way for users if he/she want to use the latest versions.

[2016-02-23 05:14] praveenkumar commented on #40
@LalatenduMohanty yes, I will work on that bit also but my current intention is keep stable version of OpenShift through ADB releases.

[2016-02-23 08:33] praveenkumar commented on #32
@hferentschik looks like below snip solve it but have to include it with provision script and check if that work as expected.

[code]

[2016-02-23 10:50] #35 closed, assigned to praveenkumar

[2016-02-23 14:17] hferentschik commented on #32
Which one? I am bit lost what you mean. Do you refer to:

[code]

Is this not what you do already?

[2016-02-24 09:29] hferentschik commented on #31
Checking the latest build, I am having now _hub.rhel-cdk_. I guess expected, since afaict _openshift_provision_ has not changed yet.

[2016-02-24 09:30] hferentschik commented on #31
BTW, could we add the label focus:devex

[2016-02-24 11:24] hferentschik commented on #32
@praveenkumar not I got it. Found it now as well. It is _add-cluster-role-to-user_ instead of _add-role-to-user_. It works now for me. Let's update _openshift_provision_

[2016-02-24 19:10] LalatenduMohanty opened #43 "/opt/adb/openshift/docker_config shoould be able to add new docker registry"
We should be able to use https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/docker_config  i.e. /opt/adb/openshift/docker_config  to add new docker registry (as many times the user wants)

[2016-02-24 19:11] #24 closed, assigned to praveenkumar

[2016-02-25 06:45] LalatenduMohanty commented on #43
its duplicate of https://github.com/projectatomic/adb-utils/issues/29

[2016-02-25 06:45] #43 closed, assigned to nobody

[2016-02-25 06:50] praveenkumar commented on #32
@hferentschik right :+1: , will send PR for same.

[2016-02-25 08:44] bexelbie commented on #40
I am all for stable version, but we need to make it super easy to change.

[2016-02-25 09:49] praveenkumar commented on #18
I had chat with @bexelbie about some modification on systemd service scripts which can also be used by service-manager plugin. @bexelbie is doing POC currently and will update once we have some solid solution.

[2016-02-25 09:49] praveenkumar commented on #3
This is already fixed.

[2016-02-25 09:49] #3 closed, assigned to praveenkumar

[2016-02-25 09:51] praveenkumar commented on #1
@hferentschik I think this is also resolved or you have some other view about this issue now?

[2016-02-25 09:51] praveenkumar commented on #5
This is not needed for openshift service case.

[2016-02-25 09:51] #5 closed, assigned to praveenkumar

[2016-02-25 09:55] praveenkumar commented on #10
@hferentschik Openshift start all containers with `k8s_` prefix and when we stop OpenShift service then those containers also need to be stopped and removed. If you have any simple way to handle it I will be happy to send PR (or better you can send PR and will add :) )

[2016-02-25 09:59] praveenkumar commented on #11
@LalatenduMohanty does `sccli` doesn't close this issue now or you have some other plan in mind?

[2016-02-25 10:44] praveenkumar commented on #13
As per ML discussion https://www.redhat.com/archives/container-tools/2016-February/msg00085.html , below templates should be part of OpenShift.

1) eap64-mysql-persistent-s2i
2) jws30-tomcat7-mysql-persistent-s2i
3) nodejs-mongodb-example
4) cakephp-mysql-example

[2016-02-25 10:46] praveenkumar commented on #16
Can someone please verify this bug on windows, if it reproduce-able then we have to dig more about it.

[2016-02-25 11:17] praveenkumar commented on #40
Agreed, something what @hardy pointed out #34

[2016-02-25 11:20] hferentschik commented on #10
Ahh,  now I see where you are coming from. A comment would have been nice there. Is the k8s_ prefix a given? Can one really rely on it?

Need to think about it, but as said now I understand where you are coming from.

[2016-02-25 11:35] hferentschik commented on #18
Awesome :-) Keep me in the loop.

[2016-02-25 11:37] hferentschik commented on #1
Is it? Are the OpenShift config files not added to the VM directly?

[2016-02-25 11:43] praveenkumar commented on #10
https://github.com/openshift/origin/blob/master/examples/sample-app/cleanup.sh (script which I used in case you are wondering :) ).

[2016-02-25 12:02] praveenkumar commented on #1
@hferentschik  OpenShift config files are part of systemd script, not added to VM directly. I can only understand that you want some part of the provision should be happen directly to VM so that openshift service start will not take much time but I am not sure how we can push it as part of VM.

Currently when we do openshift start first time then only it take some time for creating configuration a

[2016-02-25 13:06] LalatenduMohanty commented on #31
@hferentschik I tried ADB with OpenShift and I am seeing application is available at http://nodejs-example-testproject.adb.10.1.2.2.xip.io/ . Which looks fine to me. Am I missing something? I will be testing CDK expecting to see something similar i.e. s/adb/cdk/

[2016-02-25 14:08] hferentschik commented on #31
You need to check the route under which we expose the OpenShift registry:

   sudo oc --config=/var/lib/origin/openshift.local.config/master/admin.kubeconfig get route/docker-registry

should be _hub.cdk.10.1.2.2.xip.io_ or whatever the used host is.

[2016-02-25 14:11] LalatenduMohanty commented on #13
These are the github links we got
1) https://github.com/jboss-openshift/application-templates/blob/master/eap/eap64-mysql-persistent-s2i.json
2) https://github.com/jboss-openshift/application-templates/blob/master/webserver/jws30-tomcat7-mysql-persistent-s2i.json
3) https://github.com/openshift/nodejs-ex
4) https://github.com/openshift/cakephp-example

[2016-02-25 14:13] hferentschik commented on #32
Nice. I'll test it, once I get hold of a new build :-)

[2016-02-25 16:09] rct commented on #16
I saw this on Windows. Burr Sutter also noticed on the Mac.  We were using CDKv2 Beta 4.  I was using VirtualBox.

So are you looking for  1. One of us to re-test with a newer dev. build?  or 2. someone else to confirm the existence of a problem on CDKv2b4?

[2016-02-26 06:21] concaf commented on #16
@praveenkumar, I tried this on my Windows 10, i7, 16 gigs.
opensihift is stable at ~20% CPU.
docker is stable at <1% CPU

However, `journalctl -f -u docker.service` gives a similar output to what you have posted. Seems like something is querying the docker daemon every ~10 seconds.

[2016-02-26 08:48] bexelbie opened #47 "Use sd_notify with services like Openshift so systemctl status is accurate"
the openshift startup should use sd_notify to allow systemd to correctly report and sequence things that need to wait on all of openshift to be ready.

[2016-02-29 11:34] praveenkumar opened #49 "Use $hostname instead of hardcoded adb"
Since now we have hostname set in kickstart file we should use instead hard-code, which will make easy for downstream repo also.

[2016-02-29 11:48] LalatenduMohanty commented on #49
+1

[2016-02-29 11:56] LalatenduMohanty opened #50 "Check if docker pulls have failures and exit accordingly"
Refer : https://github.com/projectatomic/adb-utils/pull/45

[2016-02-29 12:03] LalatenduMohanty opened #51 "We should only do "docker pull" when images for that tag are not present"
Refer https://github.com/projectatomic/adb-utils/pull/45

If docker images are present for a particular tag and user is asking for that tag images we should not do docker pull and wait for the command to say `the image is up to date`.
Because
- Even if the images are present for a tag and we still do `docker pull` for that tag, it takes 4 - 5 seconds to say `image is up to date`. So for 5 images i

[2016-03-01 06:00] praveenkumar commented on #26
I tested this PR and it was failing after bit of debug I found out patch which @vrutkovs created should be part of `openshift_provision` instead `openshift` script.

Reason for failure: As soon as https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift#L157 kicks in systemd start ExecPost section and `wait_for_openshift_api` will be uncalled and failed with logs

[2016-03-01 06:39] #26 closed, assigned to nobody

[2016-03-01 12:47] bexelbie opened #53 "#46 added a new function file for get_ip address, but does not deploy it"
It needs to be added to the RPM

[2016-03-01 12:52] LalatenduMohanty commented on #53
@bexelbie https://github.com/projectatomic/adb-utils/blob/master/adb-utils.spec#L33  this should take care of that

[2016-03-01 12:57] praveenkumar commented on #53
@bexelbie @LalatenduMohanty yes it's handled by https://github.com/projectatomic/adb-utils/blob/master/adb-utils.spec#L33.

Below local rpm list out get_ip_address part.

[code]

[2016-03-01 12:57] #53 closed, assigned to LalatenduMohanty

[2016-03-01 13:25] praveenkumar opened #54 "CI should be inplace to test each PR"
Currently to test a patch set we create a local rpm manually and then deployed to box. Creating RPM is a trivial task and can be part of CI.

[2016-03-02 05:34] LalatenduMohanty opened #55 "After "sccli openshift" , how do we expect the user to know openshift user information ?"
We create two users in OpenSHift i.e. openshift-dev and admin . We should either print these username/password in the command line or add it to the documentation

[2016-03-02 10:37] #28 closed, assigned to praveenkumar

[2016-03-02 10:38] LalatenduMohanty commented on #31
Closing the issue as the PR is merged now

[2016-03-02 10:38] #31 closed, assigned to LalatenduMohanty

[2016-03-02 10:42] LalatenduMohanty commented on #29
Closing the issue as PR is merged now

[2016-03-02 10:42] #29 closed, assigned to LalatenduMohanty

[2016-03-02 10:43] LalatenduMohanty commented on #34
@praveenkumar @bexelbie Can we close this issue now?

[2016-03-02 11:28] hferentschik opened #58 "Change name of exposed Openshift registry"
Currently the registry is exposed as hub.rhel-cdk.10.1.2.2.xip.io (see _services/openshift/scripts/openshift_provision_). Naming it `hub.openshift.10.1.2.2.xip.io` would clarify better what this exposed route/registry is.

[2016-03-02 11:57] LalatenduMohanty commented on #13
With https://github.com/openshift/cakephp-example I am not able to find the templates. May be I am missing something CC @praveenkumar @hferentschik

[2016-03-02 12:09] praveenkumar commented on #30
I am reopening this issue because it need more work, we also have to overwrite workdir and kubconfig env before starting openshift container otherwise it will fail.

[2016-03-02 12:19] LalatenduMohanty commented on #30
@praveenkumar maybe we want to revert the patch too? then have a complete PR later

[2016-03-03 09:28] hferentschik commented on #13
@LalatenduMohanty did you figure this out. I have not checked, but will have a look later today or tomorrow.

[2016-03-03 11:30] praveenkumar commented on #13
Current repo is for openshift v2 (as per readme it still uses `rhc`), hope it have different github url for openshift v3. https://github.com/openshift/cakephp-ex is what we need.

[2016-03-04 06:07] praveenkumar commented on #58
Fix already merged.

[2016-03-04 06:07] #58 closed, assigned to LalatenduMohanty

[2016-03-04 06:10] praveenkumar commented on #55
@bexelbie how about having both? We will add patch to sccli for providing information about openshift initially and also document it.

@LalatenduMohanty My understanding is that this will going to used by service-manager and then it will provide required info about openshift to user. Once we have that capability then we don't actually require to have this information on `sccli` side.

@navidshaikh

[2016-03-04 06:13] praveenkumar commented on #40
`sccli` make easy to pass different environment variable from Vagrantfile and update  systemd service environment file. So now hard-coded versions are by default and if user want to use different then pass required parameters to `sccli`

[2016-03-04 06:13] #40 closed, assigned to praveenkumar

[2016-03-04 06:18] praveenkumar commented on #34
@LalatenduMohanty let we keep it open and once we have latest ADB release which suppose to contain adb-utils-1.1 then we will ask @hferentschik to give it a try and close that issue.

[2016-03-04 06:18] praveenkumar commented on #30
This is now fixed with latest patch.

[2016-03-04 06:18] #30 closed, assigned to praveenkumar

[2016-03-04 07:43] praveenkumar commented on #25
@hferentschik Are you talking about https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift#L50? if yes then we can't do because this function we use once with `daemon` mode to create config files (https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift#L109) and second time to run openshift in non-daemon mode. `--rm` and `-d`

[2016-03-04 09:20] hferentschik commented on #25
Hmm, the question here is really why you use the `-d` option here at all. In fact it seems wrong. Without the `-d` we could just wait for the process/container to exit which happens once the creation of the config files is complete. This way we can also skip the whole `wait_for_config_files` which I am not so confident in either. This would be a great win imo.

So not only should we investigate to

[2016-03-04 09:58] #49 closed, assigned to praveenkumar

[2016-03-04 10:01] hferentschik opened #64 "OpenShift provision script should use the health check URL to determine when OpenShift is ready for use"
Currently we have:

[code]

In particular we are checking whether the api requests responds. We should use _https://127.0.0.1:8443/healthz/ready_ instead which is the proper health URL. I am sure whether _api_ can respond while OpenShift is not ready yet, but using the health URL seems the safer bet.

[2016-03-04 11:23] praveenkumar commented on #25
@hferentschik  In past I tried that and it was failing but since now I have little more context so will try again and find reason if that occur again. I didn't know that origin process complete and exit once config files are generated. Thanks for clarify it.

[2016-03-04 13:15] hferentschik commented on #29
ok, works for CDK Beta5 now.

[2016-03-04 13:19] hferentschik commented on #31
New route as per CDK Beta5 - hub.openshift.10.1.2.2.xip.io. Works for me.

[2016-03-04 13:21] hferentschik commented on #18
I think this issue can be closed, since it is addressed by the vagrant-service-manager now.

[2016-03-04 13:25] hferentschik commented on #32
I think we need to re-open this one. It is still not working. Without any additional provisioning the admin user still has not all privileges. Not sure why the _openshift_provision_ does not work.

When I add:

[code]

to my _Vagrantfile_ things work fine. I can login as admin and have all privileges.

[2016-03-04 13:28] hferentschik commented on #32
can we add focus:devex please

[2016-03-04 13:55] praveenkumar commented on #18
Going to handle by vagrant-service-manager.

[2016-03-04 13:55] #18 closed, assigned to nobody

[2016-03-04 14:06] hferentschik opened #65 "OpenShift registry must be exposed as insecure registry in /etc/sysconfig/docker"
The OpenShift registry is now exposed as a route in _openshift_provision_:

[code]

But to be able to push to the registry one also needs to add the route/host to _/etc/sysconfig/docker_.
For now I have to add:

[code]

to my _Vagrantfile_.

I am pretty sure we already discussed the need for this insecure registry entry somewhere. I think in the context the changes to _add_insecure_registry_.

[2016-03-04 14:06] hferentschik commented on #65
Can we add the label focus:devex and also mark it as a blocker.

[2016-03-04 14:18] hferentschik opened #66 "Private network IP is added to the list of insecure registries"
_add_insecure_registry_ does the  following:

[code]

In particular it adds the local ip as insecure registry. I am wondering what the use case it for that? There is no registry running under this IP (at least not what I am aware of).

Any idea what it is supposed to be good for?

[2016-03-04 14:54] hferentschik commented on #25
Hope it works. :-)

[2016-03-07 15:35] bexelbie commented on #55
+1 for printing it and adding it to docs.  We need to keep this printed from sccli, imho because usage directly is valid.

[2016-03-07 15:38] kadel commented on #65
Rather than exposing registry as insecure why not configure it properly as secure registry?

In documentation is nice guide how to secure and expose it https://docs.openshift.org/latest/install_config/install/docker_registry.html#exposing-the-registry

[2016-03-07 16:55] hferentschik commented on #65
Sure, I am all up for it. Note, however, that these are 10 additional steps including certificate creation and what not. Definitely more work. Also, last time I tried I got hung up somewhere. To be fair, I moved to insecure quite quickly then w/o much more digging, but it felt for the type of environment we are offering running the registry insecurely was fair enough.

[2016-03-08 11:31] hferentschik opened #72 "Unable to use oadm on guest VM"
_openshift_provision_ does copy the following binaries:

[code]

However with (at least) OSE 3.1 and OSE 3.2 oadm is really a symbolic link to openshift within the container. Downloading all three binaries like this, seems to break the links. Trying to execute oadm results into the following error:

[code]

Not quite sure why this had not popped up earlier.

I guess we just need to copy `oc` and `

[2016-03-08 11:32] hferentschik commented on #72
Can we add focus:devex label? Also if this is reproducible, it's a blocker

[2016-03-08 11:33] #32 closed, assigned to praveenkumar

[2016-03-08 11:56] navidshaikh commented on #55
Yes.

@praveenkumar : Is there a way we can get the configured user information from some APIs or config etc ?

[2016-03-08 11:56] hferentschik commented on #72
FYI - https://github.com/redhat-developer-tooling/openshift-vagrant/commit/ddd3dba273a40ee2093f7c54fb7bde1f63e60236

[2016-03-08 12:37] praveenkumar commented on #72
@hferentschik  I didn't face this issue but give latest box to another try.

[2016-03-08 13:00] praveenkumar opened #73 "OpenShift registry must be exposed as secure registry"
Currently we are configuring --insecure registry for openshift and @kadel suggested it should be secured and we should do it in a better way.

Discussion :- https://github.com/projectatomic/adb-utils/pull/67

[2016-03-08 13:05] praveenkumar opened #74 "host value in openshift_option should be used effectively"
@hferentschik pointed out below situation and we should have better use-case for `host` value in openshift_option.

why do you hardcode xip.io?  What if someone wants to go the Landrush route?

Is the problem not in openshift_option. There we just use the hostname, but it should be something like 10.1.2.2.xip.io or $(hostname).10.1.2.2.xip.io. In the latter case the hub host would be something lik

[2016-03-08 13:49] #65 closed, assigned to praveenkumar

[2016-03-09 05:55] praveenkumar commented on #72
@hferentschik I gave a spin to latest box and didn't able to reproduce this issue. Can you tell if I have to follow some specific steps to reproduce it?

I also tried `vagrant halt`, `vagrant provision` but still working as expected.

[code]

[2016-03-09 10:29] #11 closed, assigned to LalatenduMohanty

[2016-03-09 13:39] praveenkumar commented on #66
It is fixed now with https://github.com/projectatomic/adb-utils/pull/67

[2016-03-09 13:39] #66 closed, assigned to praveenkumar

[2016-03-09 13:40] praveenkumar commented on #54
@dharmit you want to take it further, I will provide required help.

[2016-03-09 14:17] mmalina opened #76 "Default project for openshift-dev user"
It would be nice to have some default project created for the openshift-dev user defined here:
https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift#L113

When you start cdk in Eclipse/JBDS, a connection to openshift is created automatically in the OpenShift Explorer view. When you connect as the openshift-dev user, at the beginning you don't see anything unde

[2016-03-09 14:52] praveenkumar commented on #1
@hferentschik I hope you have answer of that issue. We can close this issue now.

[2016-03-09 14:53] praveenkumar commented on #17
This is fixed now.

[2016-03-09 14:53] #17 closed, assigned to nobody

[2016-03-09 17:31] dharmit commented on #54
@praveenkumar Sure thing. I'd love to work on this!

[2016-03-10 06:14] praveenkumar commented on #76
@mmalina yes this can be done by adding below patch to after https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift_provision#L122

[code]

[2016-03-10 06:15] praveenkumar commented on #64
This is now fixed.

[2016-03-10 06:15] #64 closed, assigned to praveenkumar

[2016-03-10 06:16] praveenkumar commented on #55
@navidshaikh  yes and we need to discuss it.

[2016-03-10 10:56] hferentschik commented on #1
What I mean is, why do we not add all the files needed for the OpenShift configuration to adb-utils? All the stuff which gets generates when calling `openshift --write-config`. It seems to me that it would be a good thing to version control the used openshift config as well. This would render [this](https://github.com/praveenkumar/adb-utils/blob/master/services/openshift/scripts/openshift#L116) un

[2016-03-10 10:59] hferentschik commented on #72
Yeah, I am not so sure either atm. I have seen the problem on my VM and other team members have reported it as well. But I am also not quite sure how it happens. Somehow it has to related to the fact that oadm is just a link to openshift, but I also cannot reproduce this repeatably atm. I try to do some more investigations.

[2016-03-10 14:03] mmalina commented on #76
@praveenkumar ok, great, thanks. Let me know if you want a PR for that ;)

[2016-03-10 15:47] praveenkumar commented on #76
@mmalina please go head and make your contribution :+1:

[2016-03-10 15:54] mmalina commented on #76
@praveenkumar you made it way too easy for me :) but ok, here's the PR: https://github.com/projectatomic/adb-utils/pull/78

[2016-03-14 07:01] praveenkumar commented on #72
@hferentschik  I found root case of this issue and we have resolved it in our #75 PR. Issue was `oadm` is symlink to `openshift` and provision script again try to create same symlink which case _Too many levels of symbolic link_ issue.

[code]

[2016-03-14 08:56] praveenkumar commented on #1
@hferentschik I just have one counter part of having this to version controlled, assume user want to use different tagged version of openshift than one we packed with boxes, isn't config file will not change with different version of openshift? (May be addition/removal of some of variable/component).

Agree on that.

[2016-03-14 09:24] hferentschik commented on #72
Nice one :-) Good catch. That's why it worked the first time, but then after restarting VM or service you would get into trouble. Good that we caught this one.

[2016-03-14 09:25] hferentschik commented on #72
Personally I would separate the pull request. Aka one for for issue #74 and one for #72, but that's just a minor thing.

[2016-03-14 09:41] hferentschik commented on #1
That a valid point. However, I would not think that configurations vary so much. The main properties in the config files seem quite stable to me. I think if this case would occur, I as user would still prefer to have "fixed" config files and fix the config via some scripts. Creating the config files the way we do is a bot of black magic. But I agree, there are pros and cons for doing this.

[2016-03-14 11:13] hferentschik opened #79 "The OpenShift instance should provision persistent volumes"
See also https://github.com/redhat-developer-tooling/openshift-vagrant/issues/70

[2016-03-14 11:13] hferentschik commented on #79
Can we add the devex label to this one, please.

[2016-03-14 15:58] #74 closed, assigned to nobody

[2016-03-15 05:38] praveenkumar commented on #72
Fixed with #75

[2016-03-15 05:38] #72 closed, assigned to nobody

[2016-03-15 09:39] navidshaikh opened #80 "Add ability to configure docker daemon"
Related
- https://github.com/projectatomic/adb-atomic-developer-bundle/issues/266
- https://github.com/projectatomic/vagrant-service-manager/issues/106

We need the ability to switch the configuration of docker daemon to run on
1. unix socket
2. unix and TCP socket

The implementation should reside in the box so that external tooling can call the script to toggle between the docker daemon configur

[2016-03-18 10:08] #73 closed, assigned to nobody

[2016-03-18 12:13] hferentschik opened #82 "Allow cross-origin resource sharing for OpenShift instance"
This allows for using for example http://openshift3swagger-claytondev.rhcloud.com/ to explore the OpenShift REST API with Swagger.

To do this the the `corsAllowedOrigins` parameter in `master-config.yaml` must be adjusted.

[2016-03-21 13:25] tnozicka opened #85 "openshift (oc) bash auto completion is missing"
We should support oc auto completion which is currently not working.

[code]

Openshift has such scripts: https://github.com/openshift/origin/tree/master/contrib/completions/bash

[2016-03-21 15:17] hferentschik commented on #85
+1 I like that. That's a nice usability improvement.

[2016-03-22 05:14] praveenkumar opened #86 "ELK logging or metrics"
Currently we don't have any ELK (ElasticSearch Logging) or metrics (like hawkular) enabled which will be good for developer experience.

[2016-03-22 05:59] LalatenduMohanty commented on #86
@praveenkumar @hferentschik sorry I am still not able to get context of the use case. Not sure how it is useful from CDK/ADB point of view.

[2016-03-22 07:06] LalatenduMohanty opened #87 "Evaluate which imagestreams are required for ADB and CDK"
We need to evaluate which imagestreams are required for ADB and CDK as upstream origin has two image streams i.e.
1. One is CentOS and docker public registry based -> https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json
2. Another is RHEL based and uses registry.access.redhat.com -> https://github.com/openshift/origin/blob/master/examples/image-streams/

[2016-03-22 08:11] hferentschik commented on #86
It is useful for the OpenShift user. The whole idea is to give a developer the chance to experience a as broad as possible functionality range of OpenShift out of the box. Configuring persistence volumes falls into the same category. When giving presentations, one of the questions which comes up is: "How do you do monitoring? Are there centralized logs? ..."

Personally, I am provisioning my CDK i

[2016-03-22 09:00] praveenkumar commented on #82
#83 Fixed it.

[2016-03-22 09:00] #82 closed, assigned to nobody

[2016-03-22 09:06] praveenkumar commented on #76
#78 Fix it

[2016-03-22 09:06] #76 closed, assigned to nobody

[2016-03-22 10:08] praveenkumar commented on #54
@dharmit I have some more thoughts around testing this repo except providing the RPM.
- Create RPM on newly provision box (using basic vagrant file without any provision)
- Deploy created RPM and run openshift test cases

This way we are sure all script which rpm going to contain is working as expected.

[2016-03-22 16:32] alberttwong commented on #86
Just wanted to post that I was the one that asked for this originally on the container-tools mailing list.

[2016-03-23 05:09] LalatenduMohanty commented on #87
https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json has WildFly imagestreams which we should include in ADB and CDK.

[2016-03-23 15:33] LalatenduMohanty opened #89 "add_insecure_registry command line option should be "-registry" not "-ip""
Currently to run `add_insecure_registry` script the command line option is "-ip"  as below. But the option should be "-registry" or similar.

[code]

[2016-03-24 10:14] hferentschik commented on #10
Can this be closed now? Or is there more to be done? @praveenkumar?

[2016-03-24 10:17] hferentschik commented on #34
Closing this issue, since it is resolved (at least in CDK)

[2016-03-24 10:17] #34 closed, assigned to praveenkumar

[2016-03-29 04:46] praveenkumar commented on #10
@hferentschik yes, I am going to close it now. Nothing we can do more here.

[2016-03-29 04:46] #10 closed, assigned to praveenkumar

[2016-03-29 11:35] kadel commented on #87
https://github.com/jboss-openshift/application-templates/blob/master/jboss-image-streams.json
Please include this one again also.

It is required for all applications that are using `jboss-eap64-openshift`

[2016-03-30 01:45] praveenkumar commented on #85
@tnozicka this should be enable for host or for the guest? My understanding is for a developer/user ADB is black-box and all required operation they do from host and this we can include in the docs (for Unix/Linux host).

[2016-03-30 07:29] tnozicka commented on #85
@praveenkumar I would like to see it enabled for both. Although your understanding is right for most cases, it is useful to have it inside the box as well. Users might want to just try the box before starting or debug something. It is also good for us and others who are debugging something inside the box.

Just add the file (~222K) to _/etc/bash_completion.d/_ and mention this in the user document

[2016-03-30 07:46] hferentschik commented on #85
that's not true. Both use cases are valid. Driving from the host or the VM. The idea is for sure to push more towards easy use from the host, but everything should work on the VM as well. Being on Windows where one for example would not have the bash completions (unless running in a Cygwin shell), some users might prefer to ssh into the VM to benefit from the tab completion.

 and this we can incl

[2016-03-30 13:07] navidshaikh opened #92 "Unified CLI for adb-utils and its scoped functions"
We are having multiple scripts for different use cases viz sccli, add_insecure_registry. IMO, we should think about having a single command line with commands and sub-commands which are scoped for utilities around containers / orchestrators / ADB / CDK. Thoughts?

How did it came? see context here https://github.com/projectatomic/adb-utils/pull/91

[2016-03-31 08:52] #89 closed, assigned to nobody

[2016-03-31 09:27] kadel opened #93 "Running oc commands as system:admin using admin.kubeconfig is not working"
Running oc commands as system:admin using `admin.kubeconfig` is not working as of 1.7.2.
(`sudo oc --config /var/lib/openshift/openshift.local.config/master/admin.kubeconfig`)

This is because during openshift_provision current-context in `admin.kubeconfig` config file is changed to openshift-dev user (byt [this](https://github.com/projectatomic/adb-utils/blob/v1.3/services/openshift/scripts/opens

[2016-03-31 10:00] #13 closed, assigned to LalatenduMohanty

[2016-03-31 17:00] bexelbie commented on #80
+1 for this being in adb-utils, whether in sccli or in a script sccli knows how to call.

[2016-04-01 04:13] #93 closed, assigned to nobody

[2016-04-05 15:25] mmalina opened #98 "No registration happens on vagrant up after host reboot"
When you have a running vagrant box (cdk) and then you restart your machine, your vagrant box will appear in a strange state.
In my case it will be aborted:

$ vagrant status
Current machine states:
default                   aborted (virtualbox)

This is because apparently when I go for shutdown in OS X, virtualbox will simply kill the VMs.

When I then do "vagrant up", cdk starts again, but there

[2016-04-06 14:37] LalatenduMohanty opened #99 "Add eap64-basic-s2i.json template"
We have "eap64-mysql-persistent-s2i"  already packaged in adb-utils. Refer https://github.com/projectatomic/adb-utils/issues/13#issuecomment-188722149

 We also need https://github.com/jboss-openshift/application-templates/blob/master/eap/eap64-basic-s2i.json as it a simpler application then eap64-mysql-persistent-s2i and takes less time to start.

CC @hferentschik

[2016-04-07 02:30] praveenkumar commented on #98
@mmalina  This issue is regarding registration plugin https:// github.com/projectatomic/adb-vagrant-registration please file it there. (I will close it here once it filled to correct repo)

[2016-04-07 02:47] #87 closed, assigned to nobody

[2016-04-07 07:29] mmalina commented on #98
@praveenkumar ok, sorry about that. I created a new issue here:
https://github.com/projectatomic/adb-vagrant-registration/issues/75

[2016-04-07 08:05] praveenkumar commented on #98
Thanks @mmalina . Closing this issue.

[2016-04-07 08:05] #98 closed, assigned to nobody

[2016-04-07 11:51] #79 closed, assigned to nobody

[2016-04-07 11:54] #99 closed, assigned to LalatenduMohanty

[2016-04-07 14:58] LalatenduMohanty opened #101 "OpenShift is configured for server: https://127.0.0.1:8443"
Not sure if 127.0.0.1 is expected in  ~/.kube/config. I think it should be only done for 10.1.2.2:8443.

[code]

[2016-04-07 15:18] navidshaikh opened #102 "Use service name `kubernetes` instead of `k8s` in `sccli`"
or support `kubernetes` as well as `k8s` in `sccli` to switch between services

[2016-04-12 09:37] LalatenduMohanty commented on #55
I think we have a better understanding now i.e. https://github.com/projectatomic/vagrant-service-manager/issues/163

I suggest `sccli` should print those info and vsm relays them to users during `vagrant up`

[2016-04-12 09:37] navidshaikh commented on #55
Complete setup information text of OpenShift service should reside (and processed if needed) at one place and shown to user. +1 on the proposal

[2016-04-12 09:40] brgnepal commented on #55
Probably [theses logs](https://gist.github.com/budhrg/553069ce583286836e444787091622ec#file-vup-sh-L11-L101) might be useful what is to be expected from `sccli`.
`type` and `data` are two things which we get one executing command on remote machine through Vagrant.

[2016-04-12 10:32] hferentschik commented on #55
I think documenting the defaults is fair enough. The problem with printing is that it can easily be wrong, for example if the user adds/changes logins. So unless we have a way to verify that the default credentials are still valid, I'd rather don't print anything.

[2016-04-13 06:13] praveenkumar opened #105 "Improvements of sccli"
Proper exit code when there is any failure during execution of sccli. keep track of each command execution and track return code to make sure exit with proper return code. Currently `sccli` is going to consumed by 'vagrant-service-manager` and we have to make sure we will provide correct interfacing from sccli side.

Related Issue:-
- [x]  Issue #102
- [ ]  Issue #55
- [ ]  Issue #51
- [x]  Issue

[2016-04-13 09:50] LalatenduMohanty opened #106 "sccli openshift is taking more time in CDK"
Because OSE is using tag like v3.1.1.6-16 and v3.1.1.6-17 when sccli expect to be as just v3.1.1.6.  Check https://github.com/projectatomic/adb-atomic-developer-bundle/issues/342 for details.

Check below cmds. The shasum for v3.1.1.6-16 is same with cached images , so the docker pull for v3.1.1.6-16 does not happen as it is already present but I can do docker pull for v3.1.1.6-17.

[code]

OSE ta

[2016-04-13 09:51] LalatenduMohanty commented on #105
I think we should rewrite sccli in Python before it is too late.

[2016-04-13 09:54] brgnepal commented on #105
If that is the case, then why not in Ruby ? :smile:

[2016-04-15 05:01] LalatenduMohanty opened #107 "Documentation for changing from xip.io to nip.io or equivalent."
If an user wants to move from from xip.io to nip.io or something equivalent  we need provide documentation for it.

[2016-04-15 05:14] LalatenduMohanty commented on #107
The information lives in /etc/sysconfig/openshift_options

[code]

[2016-04-15 06:18] praveenkumar commented on #107
Three different way we can do that.
- Overwrite openshift_options in Vagrantfile before `vagrant up`

[code]

_Or_
- Run `vagrant up --no-provision`

[code]

If user already  started vagrant box and then want to change the config. (**Not recommended because app configuration and local configuration gets deleted**)

[code]

[2016-04-15 06:35] LalatenduMohanty commented on #107
@praveenkumar thanks , I used below to the CDK OSE  Vagrantfile and it worked fine for me

[code]

[2016-04-15 06:40] LalatenduMohanty commented on #107
@hferentschik @praveenkumar  what would be your suggestion  with respect to just one solution which we should document?

[2016-04-15 06:43] LalatenduMohanty commented on #107
Also @bexelbie @navidshaikh , what will be your suggestion?

[2016-04-15 07:41] navidshaikh commented on #107
We have a script to add insecure registry https://github.com/projectatomic/adb-utils/blob/master/utils/add_insecure_registry, its convenient, user does not need to know the underlying details, IMO the solution we should go ahead should be minimal and easy for user to do.
Although having a script to change the hostname could be too much efforts, can we look for an option where we can embed this act

[2016-04-15 08:53] hferentschik commented on #107
Interesting. First of all I would like to know why one wants to use nip.io over xip.io. If nip.io is really the more reliable solution, sure. That would somehow imply that xip.io does sometimes not respond. To document this as a solution for corporate network issues is wrong. xip.io and nip.io do exactly the same thing, so I don't think switching from one to another will solve any networking issue

[2016-04-15 09:13] optak commented on #107
Yesterday, I tried to do s/xip.io/nip.io/ for /etc/sysysconfig/openshift_option.  If openshift has started already, I did the same for openshift master config and than `vagrant service-manager restart openshift`. It worked, but only for new routes, existing ones still used xip.io.
In case of changing just the 1st script during 1st boot of VM, it worked well for me.

I don't have enough time for te

[2016-04-15 09:42] hferentschik commented on #107
hmm, it did? I need to test this as well then. Surprises me a bit

Sure, existing routes will not be affected. They are already created and one needs to use _oc_ to change them.

I also have not noticed any problems yet. Just ran 1000 random xip.io queries and all returned in a total of 1m9s:

[code]

That's probably the best route and still one of our goals. The pull request which makes Landrush

[2016-04-15 10:30] optak commented on #107
I agree with @hferentschik on and I would also prefer landrush from all that options.
Fox xip.io issue ... when we noticed something is wrong, we dig into it with @dkutalek, with tools: host, dig, ping, ... and there was intervals of several tens of minutes without issue, sometimes short problem, sometimes xip.io wasn't working for several minutes.
Small taste of results:

[code]

We experienced p

[2016-04-15 10:41] LalatenduMohanty commented on #107
@hferentschik I have updated the issue with more generic text.

[2016-04-19 13:41] bexelbie opened #109 "Repo needs description"
Proposed:

A set of utilities for managing services used provided in the Atomic Developer Bundle.

[2016-04-20 12:30] navidshaikh commented on #102
Related https://github.com/projectatomic/vagrant-service-manager/pull/190

[2016-04-27 11:08] praveenkumar commented on #102
We implemented it `sccli.py` script. We will not going to have anything like `k8s` and going to use `kubernetes`.

[2016-04-27 11:08] #102 closed, assigned to nobody

[2016-04-27 11:11] praveenkumar commented on #50
@LalatenduMohanty This is now implemented in our `sccli.py` script. it will provide a return code and error to stderr.

[2016-04-27 11:18] LalatenduMohanty commented on #50
@praveenkumar ack.

[2016-04-27 11:18] #50 closed, assigned to nobody

[2016-04-28 11:31] navidshaikh commented on #102
Which release of adb-utils and respectively of ADB is going to have this brewed?

We need make sure we update code in vagrant-service-manager to co-op with this change.

Cc: @budhrg

[2016-04-29 05:36] praveenkumar commented on #109
@bexelbie Who have permission to change it I think @veillard might have.

[2016-04-29 05:55] praveenkumar commented on #101
@LalatenduMohanty as per config output it looks fine.

This is when user do `vagrant ssh` and try to connect with localhost. I don't see anything fishy here, @hferentschik any comment?

[code]

[2016-04-29 06:06] praveenkumar commented on #106
@LalatenduMohanty I can see 2 different way to tackle it in `sccli`.
1. Parse box variant and see if it is CDK or ADB and then take required action like in case of CDK we will not going to pull.
2. Check if tag is exit before pulling it using `docker images -q <image_name>` and it will only check locally if image with tag is available then not pull.

I honestly think before we implement we should

[2016-04-29 07:14] veillard commented on #109
Done, thanks !

[2016-04-29 07:14] #109 closed, assigned to nobody

[2016-05-06 17:35] aweiteka commented on #105
I suspect issue https://github.com/projectatomic/adb-atomic-developer-bundle/issues/372 may need to go against adb-utils.

[2016-05-06 17:38] aweiteka commented on #55
From a vagrant up perspective on component centos-openshift-setup this seems done.

[code]

[2016-05-06 17:44] aweiteka commented on #106
[code]

This is a huge blocker to new users. Many would have long given up.

[2016-05-09 09:51] praveenkumar commented on #106
@aweiteka yes, agreed but in case of CDK we disabled it for our GA. I think you tried a ADB box where we don't have image cache.

[2016-05-09 09:55] LalatenduMohanty commented on #106
@praveenkumar WRT https://github.com/projectatomic/adb-utils/issues/106#issuecomment-215633657 I agree.
@aweiteka for CDK it should take less than 2 minutes as we have the OpenShift images cached in the Vagrant box

[2016-05-09 10:01] praveenkumar commented on #102
with ADB-2.1 or adb-utils 1.6 release will have it.

[2016-05-09 11:29] tnozicka opened #111 "Missing OpenShift templates"
There is a lot of missing OpenShift templates in ADB. I am personally missing Jenkins which used to be there in persistent and ephemeral version.

References:
- https://docs.openshift.org/latest/install_config/imagestreams_templates.html
- https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_examples/files/examples
- https://github.com/openshift/origin/tree/master/examples

L

[2016-05-10 11:00] hferentschik opened #113 "Allow a basic user to access the route of the registry"
The CDK exposes the OpenShift registry as a external route. There is a need from tooling to "know" the exposed route in order to push images to it. See - https://issues.jboss.org/browse/JBIDE-22314

Unfortunately,  the openshift-dev user cannot view routes in the default project (`oc get routes`)

There are two basic approaches:
- Add some additional privileges to openshift-dev (and all basic-user

[2016-05-10 12:59] praveenkumar commented on #111
@tnozicka We had a discussion about what templates to include for openshift_provision and that was the decision we took after different suggestions https://github.com/projectatomic/adb-utils/issues/13

[2016-05-10 13:03] praveenkumar commented on #113
@hferentschik my vote is to implement  both approaches :)

[2016-05-10 13:15] jcantrill commented on #113
@smarterclayton Way back when the world was young we merged this proposal https://github.com/openshift/origin/commits/master/docs/proposals/capabilities.md out of the need for clients like JBT to discover data about the server.  What is the recommended approach for pushing images to the cluster registry.  Annotating a route with a well known annotation could be an option other then their is no way

[2016-05-11 09:58] hferentschik commented on #113
fair enough. I guess both seems reasonable. Also adding another field to the openshift env call seem to be quite straight forward and generally useful.

[2016-05-11 10:31] tnozicka commented on #111
@praveenkumar I briefly read the discussion and I understand why we don't want to have a lot of templates although this might be reevaluated since there wasn't OpenShift Online v3 before to guide this effort. But it is more of a product man. decision.

@praveenkumar But Jenkins template is a must. OpenShift origin already has support for syncing builds with Jenkins and it is how CI/CD workflow is

[2016-05-11 11:13] LalatenduMohanty opened #114 "Documentation around code or tempates we inherit from other projects"
We need documentation around how we use artifacts from other projects e.g.
- OpenShift templates
- Bash auto completion script #110

So that we know the steps we need to do when we take latest artifacts from those projects.

[2016-05-11 11:14] #85 closed, assigned to nobody

[2016-05-11 11:19] praveenkumar opened #115 "adb-utils 1.6 release action items"
- [x] Spec file update
- [x] build it for upstream/downstream.
- [x] Test respective build

[2016-05-11 13:06] praveenkumar commented on #115
CBS build : https://cbs.centos.org/koji/buildinfo?buildID=10893 (In testing)

[2016-05-16 09:12] tnozicka commented on #111
To cite the docs[1]:

I would really like to see the default templates in ADB. One reason why developers use ADB is that it contains pre-configured OpenShift environment. But right from the start they find out that the default templates which are installed BY DEFAULT with advanced installation and are present in OpenShift v3 Online are missing. Adding those templates is one of the steps to better

[2016-05-16 09:21] LalatenduMohanty commented on #111
+1 for Jenkins. I think it is time we put some logic in the code to to export extra or different templates for ADB VS CDK

[2016-05-16 09:23] praveenkumar commented on #111
@LalatenduMohanty you mean for CDK we should not use those templates? Also we are caching those template in our repo which need to be updated time to time so that those templates works with new release also.

[2016-05-16 09:37] LalatenduMohanty commented on #111
@praveenkumar We can, if it makes sense for CDK use case. But we should have the flexibility to choose.

Yes, I think it should be part of a script which we run time to time during releases.

[2016-05-17 08:56] bexelbie commented on #80
Adding more details from a new round of discussion:

 Breakout docker as a proper service to be managed
- Add configuration reporting to allow for fixes for
  - DOCKER_TLS_VERIFY always set: https://github.com/projectatomic/vagrant-service-manager/issues/17
  - Don't report cert info if disabled: https://github.com/projectatomic/vagrant-service-manager/issues/19
- Add cert generation to allow for

[2016-05-17 09:22] praveenkumar commented on #115
It have been released and tested with ADB2.1

[2016-05-17 09:22] #115 closed, assigned to nobody

[2016-05-18 11:47] tnozicka opened #121 "Time is out of sync"
My laptop:

[code]

ADB:

[code]

This is probably because I suspended the laptop day before and manually paused ADB box but we should definitely sync the time with NTP or just set it up so ABD box uses hardware clock from the host machine.

I am on Fedora 23 with libvirt.

Also this is quite noticeable in OpenShift's console where all my pods are like 19 hours old but I created them just a minute

[2016-05-20 08:44] tnozicka opened #125 "We need to set defaultRequest in ADB"
OpenShift templates set up only limits and not requests. This is mainly because of Online does not allow setting requests and sets them to a default value. We should do the same in ADB. The result of not setting this is that our instances are not burstable and requests are set to limits value. (All the memory is taken even if not needed.)

OpenShift Online v3

[code]

[code]

The important part is

[2016-05-21 12:58] LalatenduMohanty opened #126 ""sccli openshift" should print some information about docker pulls"
Currently `sccli openshift` does not print any information during the command execution.  So user does not get any information what is happening during the whole time. As `sccli openshift` takes some time to execute, we should give information to user about things it is doing in the back end.

[2016-05-23 13:32] hferentschik opened #128 "Enable Landrush as the default DNS solution"

[2016-05-27 06:09] bexelbie opened #130 "Add plugin installation to the long form installation.rst"

[2016-05-27 06:09] bexelbie opened #131 "Fix bullet points in README documentation list"

[2016-05-27 06:11] bexelbie commented on #131
Closing - wrong repo

[2016-05-27 06:11] #131 closed, assigned to Preeticp

[2016-05-27 06:11] bexelbie commented on #130
closing - wrong repo

[2016-05-27 06:11] #130 closed, assigned to Preeticp

[2016-05-27 08:16] #126 closed, assigned to nobody

[2016-05-27 13:44] praveenkumar opened #135 "adb-utils 1.7 release action items"
- [x]     Spec file update
- [x]     build it for upstream/downstream.
- [x]     Test respective build

[2016-05-27 13:45] praveenkumar commented on #135
- [x] Scratch build: https://cbs.centos.org/koji/taskinfo?taskID=94412

[2016-05-27 16:43] praveenkumar commented on #135
Tagged build for testing: https://cbs.centos.org/koji/taskinfo?taskID=94414

[2016-05-30 04:05] praveenkumar commented on #128
@hferentschik Are we good to add it for our CDK/ADB boxes now?

[2016-05-30 04:37] praveenkumar commented on #107
@LalatenduMohanty do we still waiting to docs to resolve it? Also we already have a issue from @hferentschik about enabling landrush which will obsolete this bug.

[2016-05-30 04:45] praveenkumar commented on #51
@LalatenduMohanty Long back I had discussion with @navidshaikh  about same and what if same `tag` updated so user doesn't have updated tag images present in the box. `docker pull` helps us to make sure always images is up to date with a particular tag. We had this issue in our CDK during 2.0 release when tag got update and we were able to figure out what went wrong.

[2016-05-30 07:27] hferentschik commented on #128
Thinking about it, I'd refer to wait for Landrush 1.1.0 which will also automate the setup of DNS on Windows (opposed to having to manually add the DNS server 127.0.0.1 to the network connection). Right now we have a zero conf solution, with Landrush 1.0.0 we are asking for manual intervention. At the very least I would like to get some feedback from product owners on this one.

Also, it is essent

[2016-05-30 08:00] navidshaikh commented on #51
+1

`docker` allows to re-tag an existing container image with new contents, giving possibilities of different contents with similar name (name:tag) present at different locations (docker registry, local).
IMO, trading time delay for verifying desired contents of an image:tag by docker is better option than assuming image is requested one by just checking its name:tag.

[2016-05-30 08:03] navidshaikh commented on #51
@vbatts: would you like to chime in this topic? Is there any better option to verify the contents of local image with the one present at docker registry ?

[2016-05-31 15:27] mmalina commented on #128
@hferentschik since this will be part of CDK, I believe Ondrej Ptak or his CDK QE team mates are the ones you should contact about this.

[2016-05-31 19:08] vbatts commented on #51
I don't have a ton of context for this discussion, but the mechanics of checking whether a remote image:tag may be updated, sounds like the domain of [projectatomic/skopeo](https://github.com/projectatomic/skopeo) /cc @runcom

[2016-05-31 19:18] runcom commented on #51
afaict even with skopeo the network is the bottleneck there (the 4.-5 seconds) because in order to verify an image (and all its layers) is update we need to make various operation against the registry (retrieving the manifest, parsing it , play with layers checking. ..)
I can have a better look at this tomorrow but to my testing, even in skopeo, contacting the Docker Hub is really slow, even when

[2016-06-02 05:12] praveenkumar commented on #51
Thanks @runcom for you feedback.

[2016-06-02 08:25] tnozicka opened #136 "Should ADB be using CentOS based ImageStreams over RHEL based ones when available?"
Looking at `adb-utils/services/openshift/templates/image-streams-rhel7.json` we are using ImageStream `jenkins` based on image `registry.access.redhat.com/openshift3/jenkins-1-rhel7:latest`. But there is also an image `docker.io/openshift/jenkins-1-centos7`.

(And e.g. `docker.io/openshift/jenkins-1-centos7:dev` has a some very important new features. So the ImageStreams are not equivalent.)

One

[2016-06-03 09:17] hferentschik commented on #113
+1 for merging

[2016-06-06 08:28] bexelbie opened #137 "Consolidate documentation for adb-utils components into ADB"
Along the lines of https://www.redhat.com/archives/container-tools/2016-May/msg00098.html move the user documentation for adb-utils components into the ADB repository.

This is based on the idea that this repo is not for standalone use and that users will be consumers of the ADB.

Development of adb-utils docs will remain here.

As a part of this, all documentation will be moved to asciidoc.

I'd

[2016-06-06 09:35] bexelbie commented on #107
I believe we should not document changing DNS services until we receive a user request for such.  By the time that user comes into existance we may already be using landrush.  I vote to close.

Additionally, in talking to @tnozicka this morning, it may be a DNSSEC issue so none of these services is going to work.

[2016-06-06 09:51] LalatenduMohanty commented on #136
@tnozicka technically we can achieve option 1 or 2 . Before deciding I have some questions on them.

Do the advancements in docker.io/openshift/jenkins-1-centos7:dev will comedown to RHEL based Jenkins in future? if so we can easily choose option1.

[2016-06-06 09:55] tnozicka commented on #136
@LalatenduMohanty Yes, it should be in RHEL version once it's done.

[2016-06-06 09:57] LalatenduMohanty commented on #136
@tnozicka cool, then it makes sense to go for option 1 as ADB is upstream and it can take more cutting edge feature from respective upstream projects where ever applicable.

[2016-06-06 10:13] tnozicka commented on #136
@LalatenduMohanty To make sure:
Will we replace RHEL IS with CentOS ones in ADB wherever it has CentOS alternative and leave RHEL IS when there is no alternative?

[2016-06-06 10:19] LalatenduMohanty commented on #136
@tnozicka We should use the Jenkins based on CentOS for ADB and Jenkins based on RHEL for CDK. /etc/os-release in the ADB/CDK box have information about whether it is CDK or ADB.

[2016-06-06 10:23] tnozicka commented on #136
@LalatenduMohanty I agree.

But I opened this issue to be more general than Jenkins. Should this be considered a general rule when CentOS and RHEL IS collide in ADB?

[2016-06-06 10:25] tnozicka commented on #107
btw. At home I am using DNSSEC resolvers:
- 217.31.204.130
- 193.29.206.206

from https://www.nic.cz/odvr/

and both xip.io and nip.io don't work.

[2016-06-06 16:11] LalatenduMohanty commented on #136
@tnozicka yes. However we should be careful in not creating very disjoint experiences between ADB vs CDK.

[2016-06-06 16:28] tnozicka commented on #136
@LalatenduMohanty Ok, I will send PR shortly.

[2016-06-07 05:40] naina-verma commented on #16
@praveenkumar , i tried reproducing this issue on my windows 10pro ,i7,8 gb Ram,Virtualbox,Cygwin, and not able to see the similar  block of message .
Steps to reproduce
1. install cdk rhel-ose
2. deploy 2-3 templates on openshift and leave the system idle over night.
3. checked cpu utilization it was fluctuating from 5-15% (openshift) ,and =<5% for docker-current .
4. However, `journalctl -f -u d

[2016-06-07 06:48] #113 closed, assigned to nobody

[2016-06-08 12:34] #136 closed, assigned to LalatenduMohanty

[2016-06-08 15:36] adietish opened #139 "freshly started cdk wont let you reach your service, restarting cdk solves it"
My setup:
- OS: FC23
- vagrant: 1.8.1
- CDK: rhel-cdk-kubernetes-7.2-25.x86_64.vagrant-virtualbox.box (build date: 08062016)
- Virtualbox: 4.3-4.3.38_106717

How to reproduce:
1) ASSERT: make sure that you have an application running, with everything in place (service, route, pod)
2) EXEC: reboot your machine, launch cdk
3) EXEC: Try to reach your service via browser/wget

Result:
App is not reach

[2016-06-08 16:10] praveenkumar commented on #135
This is already released. Closing now.

[2016-06-08 16:10] #135 closed, assigned to nobody

[2016-06-08 19:14] LalatenduMohanty opened #140 "Release 1.8.0"
It has been two weeks from last release and we should release a new one soon. Also we have PRs from @tnozicka merged.

[2016-06-09 06:10] praveenkumar commented on #140
@LalatenduMohanty yes, will do that soon.

[2016-06-09 07:21] mlabuda opened #141 "Remove view permission to default project"
This is follow up on #113. Because of https://github.com/projectatomic/vagrant-service-manager/issues/210 changes done in #113, to expose default project with view privileges for openshift-dev user, are not necessary anymore. At the moment displaying of default project on openshift-dev user can be misguiding new users. Without deeper knowledge, what for is this project, it can be misunderstood. Us

[2016-06-09 07:55] tnozicka opened #142 "First Docker Registry deployment fails, second succeeds"
Pods fail to create with:

[code]

and it will never start.

It works with 1.1.1 which is the default, but quite old even for stable.

[2016-06-09 08:22] LalatenduMohanty commented on #142
@tnozicka can you please try the new build https://github.com/projectatomic/adb-atomic-developer-bundle/issues/427

[2016-06-09 08:24] LalatenduMohanty commented on #142
@tnozicka and with older builds this should work https://lalatendu.org/2016/06/09/using-the-docker-registry-in-openshift-using-adb/

[2016-06-09 08:34] tnozicka commented on #142
@LalatenduMohanty I will try it momentarily

[2016-06-09 08:50] tnozicka commented on #142
@LalatenduMohanty it works using the box from projectatomic/adb-atomic-developer-bundle#427, although it will get deployed on second attempt (as it used to).

[2016-06-09 09:06] LalatenduMohanty commented on #142
@tnozicka did not get this. Can you please explain little more?

[2016-06-09 09:12] tnozicka commented on #142
@LalatenduMohanty first deployment (and pod) fails

[code]

[code]

[2016-06-09 10:37] praveenkumar commented on #139
I didn't able to reproduce it

[code]

[2016-06-09 11:00] jeffmaury commented on #139
We are using vagrant

[2016-06-09 11:05] praveenkumar commented on #139
@jeffmaury In above comment I am also using vagrant, didn't get what you want to say?

[2016-06-09 11:30] jeffmaury commented on #139
My fault I meant VirtualBox

[2016-06-09 13:37] LalatenduMohanty commented on #142
@tnozicka I am not sure how to reproduce this . can you please give the steps?

[2016-06-09 13:37] LalatenduMohanty commented on #139
@optak have you seen this?

[2016-06-09 13:47] optak commented on #139
@LalatenduMohanty: not yet, someone can test it soon.
But it's reported with vagrant-1.8.1, which is not fully compatible with ADB/CDK, it may be the root cause.
I also don't know which Vagrantfile was used,
but for rhel-ose and vagrant-1.7.4, I get working ose without reboot (passed > 5 times, no fail)
If this is only reproducible with vagrant-1.8.1, I would close it.

[2016-06-09 13:53] adietish commented on #139
@optak I am using the cdk.zip that's alongside the builds in http://cdk-builds.usersys.redhat.com/builds/weekly/latest-build/. Timestamp on it is 08062016

[2016-06-09 14:08] alexeykazakov commented on #139
@adietish @jeffmaury the question is what vagrant version you are using. CDK recommends 1.7.4 (and this is what our windows dev suite installer installs) because of some issues in 1.8.x

[2016-06-09 14:12] adietish commented on #139
@alexeykazakov as reported in the issue description, i have vagrant 1.8.1
I can check if I can use vagrant 1.7.4 on my FC23, more interesting would be what version @jeffmaury is using

[2016-06-09 14:13] alexeykazakov commented on #139
@adietish could you please test it on 1.7.4?

[2016-06-09 14:16] tnozicka commented on #142
@LalatenduMohanty using the box from https://github.com/projectatomic/adb-atomic-developer-bundle/issues/427
1. set IMAGE_TAG="latest" in Vagrantfile
2. $ vagrant up
3. $ vagrant ssh
4. $ oc login -u admin -p admin
5. $ oc get po -n default
6. $ oc get rc -n default

[2016-06-09 14:34] optak commented on #139
@adietish for downgrading, you should do this before:
- destroy all VM
- remove box
- remove .vagrant (in dir where Vagrantfile is)

[2016-06-09 15:00] bexelbie commented on #137
@praveenkumar @LalatenduMohanty @navidshaikh Is this able to be acked by you?  This may need to wind up in a separate repo, but that will be done only if required.

[2016-06-09 15:25] praveenkumar commented on #142
@tnozicka Below I also able to reproduce but I don't think it causing any issue for now but yes let it be here and we change the description of this issue.

[code]

[2016-06-09 15:30] praveenkumar commented on #139
So I am able to reproduced this issue and trying to find the root cause because what I can see that we are not able to get service endpoints.

[code]

[2016-06-09 15:36] amit82github commented on #139
@optak i have tested with vagrant version 1.7.4 , cdk build http://cdk-builds.usersys.redhat.com/builds/weekly/08-Jun-2016.rc1/ and no issue found on fedora 23. I deployed nojdes example and perl and able to access the .xip.io file without any fail.

[2016-06-09 15:41] tnozicka commented on #140
@praveenkumar please, wait with the release for one small PR. I will send it momentarily.

[2016-06-09 15:42] tnozicka commented on #142
@praveenkumar ok, my main issue was with registry not working at all with OpenShift latest and latest ADB

[2016-06-09 16:00] tnozicka commented on #140
@praveenkumar this one: https://github.com/projectatomic/adb-utils/pull/143

[2016-06-10 04:16] LalatenduMohanty commented on #139
I tried the latest CDK build on Vagrant 1.7.4 with Virtualbox.  I can access service fine. Now will update to Vagrant 1.8.1 and see if it works.

[2016-06-10 04:37] LalatenduMohanty commented on #139
nodejs-example works for me with Vagrant 1.8.1 . I am using Virtualbox 5.0.16.

[code]

[code]

Not sure why `oc get endpoints` not giving any output.

From my workstation i.e. Mac I could see the application in the browser and also through `curl nodejs-example-sample-project.rhel-cdk.10.1.2.2.xip.io`

[2016-06-10 05:52] amitkrout commented on #139
@LalatenduMohanty i have also tested it on fedora 23 with latest cdk rc1 build, vagrant version 1.7.4 . Found same observation with different oc template (nodejs, perl, python) what you mentioned above. I deployed all oc template outside openshift sample project.

[2016-06-10 06:11] praveenkumar commented on #139
@LalatenduMohanty @amitkrout you folks have to check problem statement again. What I think you folks only followed first 2 steps.
1. Deploy CDK using ose vagrantfile
2. Create a application (nodejs-example)
3. Restart your Host
4. Start deployed cdk again (using `vagrant up`)

Try to access that app now from web.

[2016-06-10 06:16] LalatenduMohanty commented on #139
@praveenkumar right. But from the discussion with @adietish I remember he was also seeing the issue in first two steps. May be that changed in with the latest build.

When we say reboot your machine, is it the workstation or the vagrant guest?

[2016-06-10 06:40] navidshaikh commented on #137
+1 on the proposal.

[2016-06-10 07:31] amitkrout commented on #139
@praveenkumar i restarted the host and first time started cdk using the `vagrant up`. I am able to access all the deployed app (nodejs, perl, python) from web.

[2016-06-10 07:34] praveenkumar opened #144 "Makefile should not have ose tag info."
Current Makefile is having ose tag info which shouldn't be needed anymore because it has been taken care in kickstart file.

[code]

[2016-06-10 08:14] adietish commented on #139
@LalatenduMohanty for me this happened if I restarted my laptop and once it was up, launched the cdk. I'm downgrading vagrant and trying again.

[2016-06-10 08:49] hferentschik commented on #139
@adietish  Do you _halt_ the VM before you restart the laptop? If not this is not going to work. We have discussed this somewhere already (need to find the link). If you just shut down your laptop, VirtualBox does not know what to do with your running VM. It puts it into a state which is not properly managed by Vagrant and hence when you after a reboot start the CDK, the required provisioning scri

[2016-06-10 08:52] hferentschik commented on #139
So here is some relevant info provided you are actually experiencing this issue - https://github.com/mitchellh/vagrant/issues/495

Note, I have the same issue on OS X. The aborted state of VirtualBox is not managed by Vagrant. You have thee choices:
- Just live with it and reload the VM after a host reboot
- Make sure to suspend/halt the VM explicitly before you reboot
- Write some script which on

[2016-06-10 10:08] #144 closed, assigned to nobody

[2016-06-10 10:21] #141 closed, assigned to nobody

[2016-06-10 11:08] praveenkumar commented on #140
Scratch build : https://cbs.centos.org/koji/taskinfo?taskID=96032

To test with current vagrant file of ose make below modification.

[code]

[2016-06-10 11:42] tnozicka commented on #140
Checked:
- Jenkins ImageStreams + Templates
- Running latest OpenShift
- Running Jenkins
- Building image and pushing to internal registry

@praveenkumar LGMT

[2016-06-10 13:57] adietish commented on #139
@hferentschik yes, indeed, this seems related. It wont happen if I suspend the vm before rebooting. If I have the cdk running and reboot (without suspending the cdk), virtualbox shows the vm in "powered off" state. Same in vagrant. Seems correct to me?
Vagrant 1.7.4 or 1.8.1 makes no difference. I can reproduce the issue in both vagrant versions.

[2016-06-13 05:39] praveenkumar commented on #139
This is not related to vagrant specific version. As @hferentschik pointed out that this upstream issue and from vagrant side it's already closed (because this is something Virtualbox should do). If you all folks agree then I will close this issue here also, better you folks use script which are present to https://github.com/mitchellh/vagrant/issues/495

[2016-06-13 05:41] praveenkumar commented on #140
Tagged build: https://cbs.centos.org/koji/taskinfo?taskID=96034 and released

[2016-06-13 05:44] #140 closed, assigned to nobody

[2016-06-13 07:31] amitkrout opened #148 "Template "jws30-tomcat7-mysql-persistent-s2i" deployment failed"
Steps to reproduce :
1. Install CDK 2.1 rc2 on fedora 23.
2. Deploy the template "jws30-tomcat7-mysql-persistent-s2i" using web console.
3. Deployment of "jws30-tomcat7-mysql-persistent-s2i" will be failed

Vagrant version : `1.7.4`

$ vagrant plugin list
`vagrant-libvirt (0.0.32, system)`
`vagrant-registration (1.2.2)`
  `- Version Constraint: 1.2.2`
`vagrant-service-manager (1.1.0)`
  `- Version

[2016-06-13 19:41] adietish commented on #139
ok, works for me.

[2016-06-14 03:36] #139 closed, assigned to nobody

[2016-06-14 06:34] praveenkumar opened #149 "Add proxy support for docker and openshift"
Description of problem:
In an enterprise environment is typical to have a proxy that limits internet connection. It would be nice to have a proper documentation and even include something like vagrant-proxyconf in the CDK.

How reproduce:
Try to get some docker image from outside the CDK with a proxy limiting internet connectivity.

Reference: https://github.com/projectatomic/adb-atomic-developer-

[2016-06-15 11:12] mlabuda opened #151 "Node.js applications are not editable out of the box"
Basically, when I create a new Node.js application, changes done even to static content (such as .html, xhtml pages etc.) are not shown until I restart server. So all rsynced changes won't get effect until I restart it. There is a official way to develop and that is setting up DEV_MODE environment variable to true, which enables nodemon to check changes and restart application. Because there is al

[2016-06-17 06:15] tnozicka opened #152 "Support OpenShift metrics in ADB"
Latest OpenShift console requires **metrics** running in your OpenShift cluster to display CPU load, ...

OpenShift has added `--metrics` flag to `oc cluster` command to support it.

I have found the merge, I think https://github.com/openshift/origin/pull/9310/files

@praveenkumar  you can consult with @csrwng how to do the same in ADB and it's provisioning.

CC: @ALRubinger

[2016-06-17 06:45] tnozicka commented on #152
https://github.com/openshift/origin-metrics

[2016-06-20 12:38] brgnepal commented on #55
@praveenkumar This seems to be done and need to be closed as I believe we agreed on Vagrantfile approach till it is implemented in vagrant-service-manager https://github.com/projectatomic/vagrant-service-manager/issues/163

[2016-06-21 18:15] brgnepal opened #154 "sccli should output the status of service like systemctl"
Usually, systemctl displays process states with ID and other information as below:

[code]

Where `sccli` only provide exit code as:

[code]

It would be great if at least we get information like `Active` and `Main PID` while running `sccli docker status`.

[2016-06-22 06:16] praveenkumar commented on #154
I didn't understand the usecase for it. If you are using sccli for services then exit status will tell you about service status which you can use programmatic.

[code]

[2016-06-22 08:26] brgnepal commented on #154
This will be used in acceptance tests to verify service is stop and started.

If you found this as not real use case for customer, please feel free to close it.

Current implementation of acceptance tests heavily use [status output](https://github.com/projectatomic/vagrant-service-manager/blob/master/features/support/env.rb#L100) and having hard time migrating it based on `new sccli` change.

[2016-06-22 09:11] praveenkumar commented on #154
@budhrg How about https://github.com/projectatomic/vagrant-service-manager/blob/master/features/support/env.rb#L106 only rely on the exit_code because in Unix exit code is proper way to find a process status?

[2016-07-04 20:42] hferentschik opened #155 "Changing OPENSHIFT_SUBDOMAIN in /etc/sysconfig/openshift_option is w/o effect"
It used to be possible to do something like this in the _Vagrantfile_

[code]

Even though it is still possible and OPENSHIFT_SUBDOMAIN gets successfully installed, the default of xip.io is used in `/var/lib/openshift/openshift.local.config/master/master-config.yaml`.

Is there another way to configure the domain now or why does changing this option not work anymore.

[2016-07-05 05:23] praveenkumar commented on #155
@hferentschik I am not sure if you performed `vagrant up` or `vagrant provision` after adding this shell provision script. I tried it in a clean setup and it does create entry for sub-domain for `master-config.yaml`.

[code]

[2016-07-05 05:28] praveenkumar commented on #151
@hferentschik Any opinion about it?

[2016-07-05 05:44] praveenkumar commented on #148
@amitkrout Did you try it with latest CDK whick got released? if not then please try once.

[2016-07-05 06:39] praveenkumar commented on #55
@budhrg yes adding details is under scope of vagrant-service-manager or Vagrantfile not from `sccli` because it is going to used internally.

[2016-07-05 08:28] hferentschik commented on #155
@praveenkumar But you are using _systemctl_ as well? Is this required? I guess the restart forces the _openshift_option_ to be re-read. Is this the way to do it? I thought we are going away from _systemctl_!?

[2016-07-05 08:58] praveenkumar commented on #155
Why we are going away with systemctl? I think that is the only way currently we have to run openshift.

you mean `systemctl restart openshift`? Even that doesn't going to work out because of https://github.com/projectatomic/adb-utils/blob/master/services/openshift/scripts/openshift#L76-L105 block and we need a way to move out some of configuration which should reflect each changes.

[2016-07-05 09:21] hferentschik commented on #151
+100, but afaiu this is a problem of the s2i for NodeJS. I don't think this is something we control.

[2016-07-05 09:31] hferentschik commented on #155
Are we not using `config.servicemanager.services` to control what gets started (which under the hood uses sccli & systemctl). AFAIU we had _systemctl_ left in the CDK 2 Vagrant setup, because there was the problem with additional images getting pulled.

[code]

My understanding is that the above is a workaround. the shell provisioning should not be needed anymore and if one wants to use OpenShift,

[2016-07-05 09:39] hferentschik commented on #151
My guess is that this is the place to look https://github.com/sclorg/s2i-nodejs-container

[2016-07-05 10:23] praveenkumar commented on #155
Yes agreed.

Usually when someone try to change config for a service it need restart to make sure those changes can be part of the service. In case of unsecured registry it suppose to added to docker config file and docker restart needed and for TLD change happen from OpenShift side and again reboot needed for change.

[2016-07-05 10:27] hferentschik commented on #155
Reboot via _systemctl_ or via _sccli_? Personally, I find this week. It might be what we have to do now, but I'd rather be able to set the right properties and let it be picked up by the service-manager.

[2016-07-05 10:45] praveenkumar commented on #155
`sccli` use `systemctl` in the backgroud so when we execute `sccli openshift restart` in the backgroud `systemctl restart openshift` execute.

[2016-07-05 10:53] hferentschik commented on #155
sure, but what is the message we want to give the user? sccli or systemctl? AFAIR we said the user should use sccli.

[2016-07-05 11:02] praveenkumar commented on #155
we want user to use VSM which internally use sccli. we are not telling user to use `sccli` explicitly and also we didn't put any documentation for it (ADB/CDK) side.

So user have 2 option to make config changes :-
1. Add changes to vagrantfile and then do `vagrant up` and this case changes auto picked by configuration and applied.
2. `vagrant ssh` and in the box edit config file and try to restar

[2016-07-05 11:22] praveenkumar commented on #154
@budhrg you have any other discussion for this issue or should I close it?

[2016-07-05 13:04] hferentschik commented on #155
I am lost, this is what I am trying to do and obviously this is not working w/o a restart. Option 2 is also bad, since I have to do that each single time I destroy and recreate the VM.

Cool me too. But that means we are missing a piece, right? Since how am I going to use the service-manager if I need to make changes to the Docker/Openshift options. We need a way to pass this to the service-manage

[2016-07-05 13:17] hferentschik commented on #155
So now I am wondering, which config file do you mean? You mean _master-config.yaml_? So are you saying that once the VM has started, changing _openshift_option_ is w/o effect? Then we for sure have a bug here.

BTW, I also tried

[code]

Without success.

[2016-07-05 13:30] brgnepal commented on #154
Closing it as I will try to implement based on the exit code.

[2016-07-05 13:30] #154 closed, assigned to nobody

[2016-07-07 05:04] praveenkumar commented on #155
Yes, we do have bug because restart doesn't change which daemon is looking for.

Again, if you added that snip after openshift service start it will not work. I am going to send a patch for this.

[2016-07-07 06:41] praveenkumar commented on #155
@hferentschik Above patch will enable that setting but we have to keep in mind if a user already deployed some app using older sub-domain and then change the domaine and deployed other apps then older deployed app route is going to associated with older sub-domain.

[code]

[2016-07-07 08:27] hferentschik commented on #155
cool

Sure. But that is not problem really. These are just routes which can easily be changed. Also, they will actually still work. Nothing wrong with the routes. The sub domain value just provides the default.

[2016-07-07 09:25] amitkrout commented on #148
@praveenkumar  i followed the same steps as above with keeping all the vagrant plugins intact. Only vagrant version changed to 1.8.1, CDK build to rc5 and latest libvirt box downloaded from `https://access.redhat.com/downloads/content/293/ver=2.1/rhel---7/2.1.0/x86_64/product-software`

Found the same error as above

[2016-07-11 06:56] brgnepal opened #157 "services doesn't restart on stopped status"
Hi,

It seems that services could not be restarted on 'stopped' status.

[code]

Any particular reason?

However, `systemctl restart docker` running fine on 'stopped' mode.

[code]

[2016-07-11 07:02] praveenkumar commented on #157
@budhrg we implemented this due to behaviour of `kubernetes` and `openshift` service both are contradict each other so if `openshift` service is running then user try to restart `kubernetes` without stopping `openshift` it will fail. That was the case this behavior we implemented in sccli.

[2016-07-11 07:16] brgnepal commented on #157
Closing as it is fair enough to implement that way due to above reason.

[2016-07-11 10:15] praveenkumar opened #158 "Enhancement of openshift provision and enable addon support"
Currently we only have persistent volume addon supported as part of openshift provision which is not enough for user experience we need different addon support which also plugged to VSM which will give a better user experience.

[code]

[2016-07-11 10:42] #155 closed, assigned to nobody

[2016-07-18 06:47] brgnepal commented on #55
Closing this issue as it is being tracked in https://github.com/projectatomic/vagrant-service-manager/issues/163

[2016-07-18 06:47] #55 closed, assigned to nobody

[2016-07-21 11:51] LalatenduMohanty opened #159 "Issue with accessing an application in a proxy setup with libvirt provider."
We are getting below error after an application gets deployed in OpenShift running in ADB in a http proxy environment.

[code]

Steps to reproduce
1. Add proxy setup in OpenShift Vagrantfile [1] as mentioned below.
2. Do  `oc login`
3. Deploy an application e.g. `oc new-app nodejs-example`
4. Once the application is deployed `oc status` run `oc get route`
5. Try to access the application.

[1] htt

[2016-07-21 11:59] #149 closed, assigned to nobody

[2016-07-21 17:23] jorgemoralespou commented on #152
[This](https://github.com/openshift-evangelists/vagrant-origin/blob/11c3be8d8e9dda7f574f7322b7b4f7339528baa9/scripts/base/addons-setup#L87-L123) is how we install metrics, and it's working as well, and maybe easier to understand/port.

[2016-07-21 17:26] jorgemoralespou commented on #86
[This](https://github.com/openshift-evangelists/vagrant-origin/blob/11c3be8d8e9dda7f574f7322b7b4f7339528baa9/scripts/base/addons-setup#L125-L179) is how we install logging and it works

[2016-07-22 05:19] praveenkumar commented on #152
@jorgemoralespou yes we already have PR for same and tested by @tnozicka but we have some ideas to make it part of addons and need some base code refactoring.

[2016-07-22 05:57] praveenkumar commented on #86
Thanks @jorgemoralespou to point out, we are currently have some base code refactoring to add those capabilities as addons.

[2016-07-22 06:00] praveenkumar commented on #101
@hferentschik Can you put your view here and we can close it.

[2016-07-22 06:01] praveenkumar commented on #92
Currently we are achieving this after modify `sccli` and it's behaving bridge for VSM and box.

[2016-07-22 06:01] #92 closed, assigned to nobody

[2016-07-22 06:13] praveenkumar opened #160 "Makefile macros are not very clear about what they do"
Currently we have upstream, master,  downstream macro which are not very clear about what they do and also master macro use to build downstream code.

[2016-07-22 06:30] praveenkumar commented on #107
@LalatenduMohanty @hferentschik I am closing this issue now because this is going to taken care by landrush.

[2016-07-22 06:30] #107 closed, assigned to nobody

[2016-07-22 07:39] praveenkumar opened #162 "Add flag for CDK box to not pull cached images."
In past we had issue when tags were not fully finalized as expected for OpenShift Enterprise but now we have so we should add flag to `sccli` not try to pull required images because those will be already cached.

[2016-07-22 10:58] #160 closed, assigned to nobody

[2016-07-24 16:07] #162 closed, assigned to nobody

[2016-07-24 16:12] LalatenduMohanty opened #164 "Should we enable incremental builds for OpenShift?"
S2I can perform incremental builds, which means it reuses artifacts from previously-built images. This helps to reduce the build time of the application post the first build. For the first build process it does not work as s2i downloads required artifacts for the build.

[code]

[2016-07-25 05:44] praveenkumar commented on #164
https://github.com/openshift/origin/issues/10005 once we have fix for it we will make required change here.

[2016-07-25 06:33] LalatenduMohanty commented on #164
@praveenkumar Till then we should document this for users to encourage them to use incremental builds. WDYT?

[2016-07-25 07:32] praveenkumar opened #165 "Regular sync of templates and auto-complete scripts."
Currently we have openshift templates and auto-complete for `oc, oadm, openshift` from upstream and we directly using them quite a long time without syncing it again. We have to sync them properly with upstream because then new features or update in template can be missed.

Also we will not allow any template change in this repo because that is not the correct place to do it.

[2016-07-25 12:24] naina-verma opened #168 "Indentation error in file "/bin/sccli""
While doing Vagrant up with provider HyperV  proxy Vagrantfile, it throws this error.
`==> default:   File "/bin/sccli", line 188
==> default:     def pull_openshift_images():
==> default:     ^
==> default: IndentationError: unexpected unindent
The SSH command responded with a non-zero exit status. Vagrant
assumes that this means the command failed. The output for this command
should be in the lo

[2016-07-26 10:02] #168 closed, assigned to praveenkumar

[2016-07-27 04:53] LalatenduMohanty commented on #142
@tnozicka Is this still an issue?

[2016-07-27 07:56] LalatenduMohanty commented on #125
@tnozicka I am not sure what you meant.  I checked `nodejs-example` in ADB and it is taking less than 512MB even if I see  the resource settings is at 512. i.e.

[code]

I hope 512Mi means 512MB. Check below commands and output also

[code]

ADB RAM usage is at 540MB with the application running but it stays around 334MB without any application running in ADB.

[code]

[2016-07-28 14:22] tnozicka commented on #142
@LalatenduMohanty Yes, the first deployment still fails.

[2016-07-28 14:50] tnozicka commented on #125
It has been some time ago, but IIRC, problem is that without default requests you end up with **requests==limits**. This implicates being in _guaranteed_ class instead of _burstable_.

You want it to be like:

[code]

The question is not about actually used memory, but about how much of it scheduler has to reserve for the app.

[2016-07-29 18:21] LalatenduMohanty opened #172 "We do not need OC completion scripts in future"
As per @tnozicka we can remove auto completion files for OC etc  in the future because with new versions of **oc** can be used to generate them with .{zsh,bash}rc:

[code]

Refer https://github.com/projectatomic/adb-utils/pull/166#discussion_r72043420

[2016-08-02 10:49] #165 closed, assigned to nobody

[2016-08-02 14:14] naina-verma opened #173 "Vagrantfile unable to pick Proxy environment variable dynamically"
Vagrantfile unable to pick Proxy environment variable dynamically

There is no checks in Vagrantfile to read environment variable for proxy and use it for further Proxy settings. As a result the vm traffic is not going through proxy.
Discussed with @LalatenduMohanty , @budhrg .
File link : https://gist.github.com/naina-verma/106183d6ce7a742d91ed1acc1eda7745
from line 34-36 there should be check fo

[2016-08-04 10:58] praveenkumar opened #174 "sccli fails to pick a single ENV in case of openshift options"
Configuring OpenShift with custom tag, name and docker registry does not work when we specify one or two options. It works only when we specify all three options.

[code]

failed to pickup by sccli.

[code]

This works as expected.

Refer : https://github.com/projectatomic/vagrant-service-manager/issues/366

[2016-08-04 11:06] praveenkumar opened #175 "[landrush] Enable TLD for redirection after login to openshift console"
Currently we have 'cdk.test' as TLD and after `vagrant up` we are able to access `https://cdk.test:8443` but after login it again redirect to `ip` instead of TLD.

[2016-08-04 11:08] praveenkumar opened #176 "[landrush] Enable cert for TLD to connect from host"
After landrush we need to to enable cert for TLD so user can connect from host as there were able to do it before.

[2016-08-04 11:59] brgnepal opened #177 "adb-utils version 1.7 onwards breaks sccli OpenShift configurations through vagrant service-manager"
Hi,

While I was working on vagrant service-manager plugin for Openshift configuration I found interesting finding.
With `adb-uitls 1.6` version, I was able to use any of the OpenShift configuration options like `image_tag`, `image_name` and `docker_registry`.

See more below:

**adb-utils 1.6**

[code]

**From adb-utils 1.7**

[code]

[2016-08-04 12:01] praveenkumar commented on #177
duplicate of #174

[2016-08-04 12:01] #177 closed, assigned to nobody

[2016-08-05 20:00] LalatenduMohanty commented on #173
This might be duplicate of https://github.com/projectatomic/adb-atomic-developer-bundle/issues/488. Though both are different issues but the solution might be one.

[2016-08-08 09:51] LalatenduMohanty commented on #173
Closing the issue as it is tracked in https://github.com/projectatomic/adb-atomic-developer-bundle/issues/488

[2016-08-08 09:51] #173 closed, assigned to nobody

[2016-08-09 05:50] #175 closed, assigned to nobody

[2016-08-09 07:46] #174 closed, assigned to nobody

[2016-08-11 05:51] praveenkumar commented on #148
@amitkrout https://bugzilla.redhat.com/show_bug.cgi?id=1313556 and we require secret to be installed by user on the project before deploy those templates.
- https://github.com/jboss-openshift/application-templates/tree/master/secrets

[2016-08-12 13:04] amitkrout commented on #148
@praveenkumar i installed the jws-app-secret.json in the project where the application is deployed. After successful installation i deployed the app from web console.

[code]

App `jws30-tomcat7-mysql-persistent-s2i` failed to deploy from web console.

Build used : 5th Aug nightly build

[2016-08-22 05:44] praveenkumar commented on #148
@amitkrout Does that works for you now?

[2016-08-22 18:54] alezzandro opened #181 ""systemctl start openshift" on Fedora 24 cause a lot of avc denied with start failure"
Hi there,

I've managed to get a working adb-utils scripts on Fedora 23 without any modification, just installing the rpm for centos7.
Anyway after upgrading to F24 the "systemctl start openshift" command keeps failing while SELinux complains about a:
`avc:  denied  { transition } for  pid=**** comm="sh" path="/usr/bin/docker" ...
`
(I've just tried the latest 2.0.1 version and it fails too)

If I

[2016-08-23 10:12] rhatdan commented on #181
I wonder if a policy update fixed this issue, which is why the AVC's say they are allowed in current policy.  I would have figured these rules were always allowed though.  Strange.

[2016-08-23 10:58] praveenkumar commented on #181
@alezzandro Thank you for trying it on fedora24, (even support for fedora is not in the scope for this project) but I think we can work it more to make it available for fedora channel.

@rhatdan So you mean that issue which @alezzandro faced should be already part of allowed rules?

[2016-08-23 11:01] rhatdan commented on #181
Yes I believe so.

[2016-08-24 12:07] navidshaikh commented on #157
Current state:
docker - running
kubernetes -stopped
openshift - stopped

A user performs
`vagrant service-manager restart kubernetes`

acutal scenario: vsm won't allow it, since `sccli` doesn't allow it.

expected scenario: If no contradiction with openshift service, `sccli` should allow it.

[2016-08-24 12:09] praveenkumar commented on #157
That is the way it is currently because k8s and openshift contradict so you only want docker to be do `restart` ?

[2016-08-24 16:07] alezzandro commented on #181
I've also tried it on a fresh Fedora 24 vagrant machine,

The issue is the same (look at file attached below) with a lot of 'AVC avc:  denied  { transition }'
[adb-utils.txt](https://github.com/projectatomic/adb-utils/files/435129/adb-utils.txt)

[2016-08-25 01:46] praveenkumar commented on #181
@alezzandro Thanks. @rhatdan would it be more appropriate to open a bug from SELiunx side as you said it should be part of allowed rules?

[2016-08-25 12:00] amitkrout commented on #148
@praveenkumar i followed the same steps for deployment of "jws30-tomcat7-mysql-persistent-s2i" on windows 10 virtual box provider. The app was successfully deployed.

Build use : CDK 2.2 rc1

[2016-08-25 13:31] rhatdan commented on #181
How do you have /usr mounted?  Do you have it mounted with nosuid?

[2016-08-26 16:44] alezzandro commented on #181
No /usr mounted:

[code]

[2016-09-12 20:51] mglantz commented on #139
I saw this issue after reboot of MacOS and CDK via VirtualBox latest (Version 5.0.26 r108824).
Problem solved with 'vagrant reload', normal reboot of CDK VM did not work.

[2016-09-13 07:38] alezzandro opened #182 "Open Discussion: Extend the purpose of adb-utils to any distro"
Hello,

I'm writing down this message to understand you can evaluate the chance to take adb-utils to any distro (systemd-based).

IMHO adb-utils is a very valuable and useful tool for setting up a working OpenShift environment through containers.
Many developers (luckily) currently use Linux for their day-by-day ops, so why put them through a virtual machine that execute docker and then a containe

[2016-09-16 05:02] LalatenduMohanty commented on #106
@praveenkumar is  this issue still relevant?

[2016-09-16 05:04] LalatenduMohanty commented on #182
@alezzandro have you tried "oc cluster up" feature in upcoming Origin's 1.3.1 version? It is almost similar to what adb-utils does.

[2016-09-16 09:08] praveenkumar commented on #106
It is not relevant and we fixed it already for CDK.

[2016-09-16 09:08] #106 closed, assigned to nobody

[2016-09-16 09:12] praveenkumar commented on #182
@alezzandro I liked your proposal but can you try oc cluster up also as @LalatenduMohanty pointed out and check if that something you can use for longer term?

[2016-09-26 11:28] LalatenduMohanty commented on #176
@praveenkumar Not sure what issue we are trying to address here.  Can you please add more information.

[2016-09-26 11:33] LalatenduMohanty commented on #128
@hferentschik is it still an issue? We have already integrated Landrush in ADB.

[2016-09-27 06:03] hferentschik commented on #128
Hmm, I guess for the CDK we can create a new issue. Also it seems odd to have the issue in adb-utils anyways. Closing it.

[2016-09-27 06:03] #128 closed, assigned to nobody

[2016-09-28 09:53] praveenkumar commented on #176
@LalatenduMohanty when a user connect to openshift it require a certificate which is created when we do the provision and it is associated with the ip (10.1.2.2) instead of TLD (openshift.cdk) which is required when landrush is enabled and used.

[2016-10-20 07:40] praveenkumar opened #185 "Capability to have run different tag of openshift on CDK"
Currently what CDK have is only a specific version of openshift and it's a bottleneck when user want to tryout a newly available version/tag of openshift.

[2016-10-20 07:42] praveenkumar commented on #181
@alezzandro Can you please create a PR on that so I will add it to adb-utils next release?

[2016-10-20 07:43] praveenkumar commented on #47
I did try that but it doesn't work with openshift service because notify doesn't stop till provision happen.

[2016-10-20 07:43] #47 closed, assigned to praveenkumar

[2016-10-20 07:45] praveenkumar commented on #27
@hferentschik I am going to have it like that only because if a OCP/OSE package have 'openshift' for /etc then it might conflict. I am in favor to close this issue.

[2016-10-20 09:01] LalatenduMohanty opened #186 "Allow CDK users to move to a new OpenShift version like ADB"
ADB users can modify the tag in the Vagrantfile and subsequent `vagrant up` will download the Origin docker images and set it up, we should allow CDK users to do same for OCP versions.

[2016-10-20 09:03] praveenkumar commented on #51
Looks like we are done with discussion on this topic and if a image update/or-not docker will always fetch from network to verify the image nothing local available. If we are sure about tag will not change then something we can do locally like
`"$(docker images -q myimage:mytag 2> /dev/null)" == ""`

[2016-10-20 09:07] LalatenduMohanty commented on #186
duplicate of #185

[2016-10-20 09:07] #186 closed, assigned to nobody

[2016-10-20 09:07] LalatenduMohanty commented on #185
ADB users can modify the tag in the Vagrantfile and subsequent vagrant up will download the Origin docker images and set it up, we should allow CDK users to do same for OCP versions.

[2016-10-20 09:08] hferentschik commented on #185
The question is whether we really want this? I agree it sounds nice, but at the same time it also means they are using something untested. At the very least this needs to be made clear. It's a two-edged sword really.

[2016-10-20 09:19] praveenkumar commented on #185
@hferentschik yes agree, @LalatenduMohanty do we have approval for it because in past we saw stuff breaking when we moved with 1.1 to 1.2 OSP.

[2016-10-20 09:26] LalatenduMohanty commented on #185
@praveenkumar @hferentschik It seems users want to have new version of OCP (even for minor version upgrades 3.2.x to 3.2.y) as soon as possible along with new versions, we should add this functionality. But we will continue with the way we do the caching and releases and it would be the supported OCP version in CDK.
This will also enable us to test the pre-release versions of OCP in CDK through au

[2016-10-21 12:07] #185 closed, assigned to LalatenduMohanty

[2016-10-22 02:09] LalatenduMohanty opened #188 "We should not expose docker registry and image name for OCP in CDK"
We should not expose docker registry and image name for OCP in CDK in the rhel-ose Vagrantfile as these are constant for CDK.

example (at present):

[code]

IMO it should be just the image tag which will help users to change if they want to go to another version.
For example the Vagrrantfile should only contain

[code]

[2016-10-24 07:18] LalatenduMohanty commented on #188
@praveenkumar @budhrg @hferentschik comments?

[2016-10-24 09:18] praveenkumar opened #189 "Template update"
It has been a month since we updated our templates which are part of adb-utils. So need to do a diff and update if anything new added.

[2016-10-24 09:31] praveenkumar opened #190 "Do local check for available cached images."
Currently we enabled `docker pull` for ADB/CDK which make startup process little slow because even a image cached then docker will get metadata over internet to validate the image and in case of openshift, we do sure that if something changes then they create new tag and not update the existing tags. Keep those in front we can have a validation flag in front of docker pull which will make sure onl

[2016-10-24 11:50] praveenkumar commented on #188
@LalatenduMohanty Agree, please check follow https://github.com/projectatomic/adb-utils/issues/190 also.

[2016-10-25 12:29] praveenkumar opened #191 "Update auto-complete bash scripts."
openshift auto-complete scripts need update.

[2016-10-25 13:02] brgnepal opened #194 "Some delay inbetween openshift service reporting as running and vagrant up with CDK 2.2"
#### With CDK 2.2:

So using CDK 2.2, the Vagrant configuration from adb-atomic-developer-bundle and running:

[code]

I get:

[code]

OpenShift service is reported to be `stopped`. Then `running` a few seconds later:

[code]

So the OpenShift provisioning seems to return too early. This is consistent with the behavior we see in the tests.
#### With CDK 2.1 :

[code]
#### Also observed, CDK 2.2 wi

[2016-10-26 06:01] #191 closed, assigned to nobody

[2016-10-26 06:18] praveenkumar commented on #194
I am able to reproduce this issue but still not sure why it happen. Just to check sccli script behavior I added a flag which return exit value and that seemed as expected. behind the scene sccli is running system command which use `subprocess` module with `communicate` and as per doc that suppose to wait till process is complete and return tupple https://docs.python.org/2/library/subprocess.html#s

[2016-10-26 06:40] brgnepal commented on #194
@praveenkumar Why it is not the case with CDK 2.1 ? What are the changes in CDK 2.2 around it?

[2016-10-26 07:52] praveenkumar commented on #194
Only change we have is using `sccli` instead of `systemctl` for openshift service in the Vagrantfile and we did this because we need to pass shell variable before start service now, like proxy stuff and OSE specific version.

[2016-10-26 07:52] praveenkumar commented on #194
@budhrg BTW how do you folks do same testing with ADB because for that it always the sccli in the Vagrantfile?

[2016-10-26 08:16] brgnepal commented on #194
@praveenkumar We now have added sleep of 10 seconds to pass our CI . See here https://github.com/projectatomic/vagrant-service-manager/blob/master/features/adb-openshift.feature#L36

Locally I need to give 20 secs sometime.

[2016-10-26 08:18] brgnepal commented on #194
Then, it is `sccli` issue I guess that it is not behaving similar to systemctl as you  mentioned in your comment above.

[2016-10-26 10:02] praveenkumar commented on #194
Another finding during meeting is service goes to `activating` state for some time before it run.

[code]

[2016-10-26 11:24] LalatenduMohanty commented on #190
@praveenkumar +1, we should do that to make sure user experience does not take a dip.  But I am not aware of the logic behind why same tags are reused for new builds. That's something we tried to get an answer  in the past isn't it?

[2016-10-26 11:24] #189 closed, assigned to nobody

[2016-10-26 12:51] praveenkumar commented on #190
We got the answer I think when @hferentschik ask to openshift team and they made sure in future they will do proper tagging.

[2016-10-27 12:03] #194 closed, assigned to praveenkumar

[2016-10-28 06:00] LalatenduMohanty opened #197 "Using pass results in to a CPU intensive operation"
[code]

Using `pass` results in to a very CPU intensive operation. it is null operation, so it will continuously run `systemctl is-active %s" % service)` till it comes out of the loop.  If you do

[code]

It takes 100% CPU. time.sleep(1) is a better option and less CPU intensive.

[1] https://github.com/projectatomic/adb-utils/blob/master/utils/sccli.py#L117-L133

[2016-10-28 06:21] #190 closed, assigned to nobody

[2016-10-28 10:34] #197 closed, assigned to nobody

[2016-10-28 10:48] praveenkumar opened #199 "sccli start and stop method should not return intermediate state"
Currently if we use `sccli start <service>` then it return a intermediate state `activating` which should be avoided in term of sccli usability and design.

[2016-11-02 05:58] #199 closed, assigned to nobody

[2016-11-08 10:26] praveenkumar opened #202 "Extra print during pulling the images for new tag"
Currently sccli is throwing extra print statement when pulling the images. this should be taken care.

[code]

[2016-11-09 09:29] praveenkumar opened #203 "sccli should have a check for null string"
Currently we assign env variable without checking it that is empty so that need fix so variable assigned should have meaningful value.

[2016-11-09 21:04] #203 closed, assigned to nobody

[2016-11-10 08:44] #202 closed, assigned to nobody

[2016-11-16 07:13] praveenkumar opened #207 "Error: Local variable 'docker_registry' referenced before assignment"
If we use sccli with latest release it will fail as below.

[code]

[2016-11-16 09:42] #207 closed, assigned to nobody

[2016-12-06 14:41] chirino opened #209 "Add the Fuse Integration Services 2.0 templates to the CDK"
The 2.0 version of Fuse Integration Service is about to release and it would be nice if it's OCP templates get included in the CDK.  The latest ER of the templates can be viewed at:

https://github.com/jboss-fuse/application-templates/tree/application-templates-2.0.redhat-000027

[2016-12-06 15:51] chirino commented on #209
Do you guys need the images to exist before pulling in the templates that reference them?  The images wont be publicly available for like another month.

[2016-12-08 11:36] LalatenduMohanty commented on #209
@chirino Yes, we need the availability of the images in image stream. But without the images how are you testing the templates?

[2016-12-08 12:30] chirino commented on #209
We have the images in private (VPN accessible) repositories.

[2017-01-23 05:35] praveenkumar opened #210 "Update template and prepare for release."
We need to update openshift templates and auto-complete scripts then need to release adb-utils.

[2017-01-24 06:40] #210 closed, assigned to nobody

[2017-01-24 11:55] praveenkumar opened #213 "Update openshift start script to add rslave for volume mount."
Till now we didn't have rslave option for volume mount but from 1.4 it's necessary.

check: https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container

[2017-01-24 11:58] brgnepal commented on #213
Good catch :+1:

[2017-01-24 12:27] #213 closed, assigned to nobody

[2017-01-26 15:47] adietish opened #215 "Should drop eap64 since the examples for it seem deprecated"
Our eap64-* templates are using the 6.4.x branch of the quickstarts at https://github.com/jboss-developer/jboss-eap-quickstarts
When trying to improve these (the quickstarts to compil require a user to update his settings.xml, which is imho far from ideal), I was told that this branch is not maintained any more. They say 7.1.x is the current branch: https://github.com/jboss-developer/jboss-eap-qui

[2017-01-27 07:29] praveenkumar commented on #215
@adietish https://github.com/jboss-openshift/application-templates/raw/master/eap/eap64-basic-s2i.json is what we sync with adb-utils as part of template after https://github.com/projectatomic/adb-utils/issues/87 . We are not aware if that is not maintained/updated any more if that is the case then we need change our Makefile to fetch a valid template.

[2017-01-31 08:20] adietish commented on #215
@praveenkumar to my understanding - and i asked explicitly - the 6.4.x examples are deprecated (https://github.com/jboss-developer/jboss-eap-quickstarts/issues/2062#issuecomment-276172175). The issue that exists with these is that they wont compile out of the box. They're lacking a maven repository which offers required dependencies. This issue was fixed in 7.0.0.GA.
I therefore suggest that the e

[2017-03-14 16:01] chirino commented on #209
Any updates?

[2017-03-15 09:13] LalatenduMohanty commented on #209
@chirino I have added a comment in your PR i.e. https://github.com/projectatomic/adb-utils/pull/216#issuecomment-285363411  and status is currently the same.

[2017-04-04 07:35] LalatenduMohanty commented on #209
@chirino Minishift has t[he addon feature](https://github.com/minishift/minishift/blob/master/docs/source/using/managing-minishift.adoc#addons)  now which will allow us to add extra templates to CDK and make it default

[2017-10-25 22:29] adietish commented on #215
@praveenkumar latest CDK 3.2 is apparently still using the eap-64 templates. Is there are reason for it (given that they're considered deprecated and wont compile out-of-the-box) or do I miss something?

[2017-11-04 11:46] adietish commented on #215
@praveenkumar any updates on this please?

[2017-11-13 09:39] adietish commented on #215
@praveenkumar any updates on this please?

[2017-11-13 09:46] LalatenduMohanty commented on #215
@adietish I think we agreed that CDK can not do much here as it is an upstream EAP issue. May be we should discuss this again.

[2017-11-13 09:51] adietish commented on #215
@LalatenduMohanty thx for the feedback!
Offering EAP templates that don't work out of the box taints the user experience. Something we really should fix IMHO.
Can you please make this happen?

[2017-11-13 09:55] praveenkumar commented on #215
@adietish https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_examples/files/examples/v3.7 where we are fetching templates and https://github.com/minishift/minishift/blob/master/addons/xpaas/xpaas.addon this is something we have which create template do you think we should remove https://github.com/minishift/minishift/blob/master/addons/xpaas/xpaas.addon#L30-L40 and that wor

[2017-11-28 12:52] adietish commented on #215
@praveenkumar ok to remove the templates that you were pointing at. Looking at the image streams I bet the following should get removed, too: https://github.com/minishift/minishift/blob/master/addons/xpaas/xpaas-streams/jboss-image-streams.json#L174

[2017-11-29 08:42] LalatenduMohanty commented on #215
@adietish @praveenkumar It seems EAP 6 is supported till Jun 2025 [1] . We should document the issue and the workaround for EAP6.4 in the documentation and will push EAP team to release another template with the fix. Once we have the new EAP 6 template with the fix then we can remove the old one.

[1] https://access.redhat.com/support/policy/updates/jboss_notes

[2017-11-29 13:33] RickJWagner commented on #215
A note for future reference, in case questions arise.
Fuse 6.3 is currently provided on OpenShift via 'FIS'.  Fuse/Karaf and Fuse/Spring Boot are offered, Fuse/EAP is not.
Fuse/EAP is currently offered only on bare metal, based on EAP 6.4.
Fuse 7 (due out next year) is supposed to offer Fuse/EAP based on EAP 7.x.

Conclusion:  Dropping EAP 6.4 templates will not affect current Fuse/EAP offerings o

[2018-01-15 10:30] #111 closed, assigned to nobody

[2018-01-15 10:30] #121 closed, assigned to nobody

[2018-01-15 10:30] #125 closed, assigned to nobody

[2018-01-15 10:31] #142 closed, assigned to nobody

[2018-01-15 10:31] #152 closed, assigned to nobody

[2018-03-01 10:41] LalatenduMohanty commented on #215
Thanks @RickJWagner for the information. @Bob-Davis also gave us similar information. So we are going to remove it. Created issue https://github.com/minishift/minishift/issues/2073

[2018-05-30 08:08] DLT45 opened #217 "ker ps"